[2015-01-30 06:37] jimmyhmiller opened #24 "Example in readme does not run."
Running the example in the readme will result in "node.layout is undefined"  error.

[code]

This doesn't occur in the tests because of the preprocessing the node goes through in the testing suite. Particularly in the [computeCSSLayout](https://github.com/facebook/css-layout/blob/28243156e48cc6e3cb8adb809e03406c5970eb41/src/Layout-test-utils.js#L131) function.

I'm not sure if this is the expected

[2015-01-30 07:15] Dashed commented on #24
This is how I run them :smile:

[code]

[2015-01-30 11:30] m1el opened #25 "Tests are failing on firefox 31.3.0"
To reproduce: open RunLayoutTests.html in firefox.

![all tests are failing in firefox](http://i.imgur.com/DCK78I2.png)

[2015-01-30 18:50] vjeux commented on #25
Yeah, I tried to get it working on Firefox but couldn't get it to work 100% of the time so I gave up. Pull requests to fix it are more than welcome

[2015-01-30 19:35] vjeux commented on #24
Woops. We're not actually using the JS version anywhere so the code isn't in a very good shape. Wanna submit a pull request to make it cleaner?

[2015-01-31 22:13] secrettriangle opened #27 "Implement percentage- and em-based widths"

[2015-01-31 22:57] vjeux commented on #27
Many times, you can get the same result as percentage with flex.

[code]

Why do you need em for?

[2015-02-01 08:37] fabb opened #29 "Tests failing on Chrome OS X 40.0.2214.94 (64-bit)"
[code]

[2015-02-01 22:23] vjeux commented on #29
Grrr

[code]

looks like smallHeight and bigHeight changed from 18 to 16 and 36 to 32. Can you make sure you aren't zoomed by chance?

[2015-02-02 07:30] fabb commented on #29
Zoom is at 100%. If I zoom in or out, a lot more tests fail.
I have a retina display, might that be related?

[2015-02-02 13:38] zhigang1992 opened #32 "This test don't do what it says"
https://github.com/facebook/css-layout/blob/master/src/__tests__/Layout-test.js#L326-L331

Maybe change it to `should layout empty view to center`? :smile_cat:

[2015-02-02 18:54] vjeux commented on #32
Wanna send a pull request to rename it? :)

[2015-02-02 22:04] #32 closed

[2015-02-02 22:04] vjeux commented on #27
Closing until you provide more info :)

[2015-02-02 22:04] #27 closed

[2015-02-02 22:06] ColinEberhardt commented on #24
I was just about to raise exactly this issue! The `computeLayout` function relies on the nodes having a `layout` property. This is ensures within the tests as a result of the `fillNodes` function.

Personally I think the API would be better if `computeLayout` was a bit more flexible - adding the `layout` property if it is not already present.

[2015-02-02 22:08] vjeux commented on #24
@ColinEberhardt: happy to take pull requests to improve the JS API. It's indeed not great in the current form

[2015-02-02 22:12] ColinEberhardt commented on #24
@vjeux - I'll see what I can do :-)

By the way, I'm using code from this project to apply flexbox layout to SVG - it's great for creating chart layouts. You can see this in practice here:

http://www.scottlogic.com/blog/2015/02/02/svg-layout-flexbox.html

Thanks for making this open source.

[2015-02-02 22:15] Dashed commented on #24
There seems to be more missing pieces, like text sizing. At the moment these are hardcoded in tests, and rely on some iframe hack to get initial values.

[2015-02-02 22:18] vjeux commented on #24
@Dashed: in the test files there's a function that is able to measure text. Unfortunately, the browser support for that is pretty bad. You can either use canvas, but then you don't have line wrapping, or create a dom node yourself but it's pretty slow.

[2015-02-02 22:22] vjeux commented on #24
@ColinEberhardt this is really exciting, thanks for letting me know :) I had no idea that anyone else would be using it to do interesting things

[2015-02-03 02:55] jimmyhmiller commented on #29
I am getting the exact same errors. I've tried on both a retina and non-retina display. Assuming that the error message given is correct. It looks like chrome has changed their text measurements functions and if you look at the other two tests that are failing, they appear to be off by exactly that amount.

I've put in a pull request for this https://github.com/facebook/css-layout/pull/35.

[2015-02-04 02:15] jiyinyiyong opened #36 "How does it fit into React?"
Any exmaples by now? I don't think such grammar is easy to be used in React:

[code]

[2015-02-04 04:58] jdkanani commented on #36
I think it would be useful in React Native.

[2015-02-04 12:48] 1genius commented on #25
What is the problem with firefox?  I would like to try and fix the bug.

[2015-02-04 12:49] 1genius commented on #24
I would like to try and fix the bug?

[2015-02-04 15:14] jlongster opened #38 "flexStart is same as flexEnd"
I noticed this while playing around with my live editor. Check this out: http://layout.jlongster.com/#node%2528%250A%2520%2520%257B%2520padding%253A%252050%252C%2520flexDirection%253A%2520%2527column%2527%2520%257D%252C%250A%2520%2520%2520node%2528%257B%2520padding%253A%252010%2520%257D%2529%252C%250A%2520%2520%2520node%2528%257B%2520padding%253A%252010%252C%2520alignSelf%253A%2520%2527flexStart%2

[2015-02-04 15:15] jlongster opened #39 "Nested children bug?"
Look at this: http://layout.jlongster.com/#node%2528%250A%2520%2520%257B%2520padding%253A%252050%252C%2520flexDirection%253A%2520%2527column%2527%2520%257D%252C%250A%2520%2520%2520node%2528%257B%2520padding%253A%252010%2520%257D%252C%250A%2520%2520%2520%2520%2520%2520%2520%2520node%2528%257B%2520padding%253A%252010%2520%257D%2529%2529%250A%2529

The boxes should be nested, not outside of each othe

[2015-02-04 16:16] vjeux commented on #38
It's `flex-end` not `flexEnd` :)

We have warnings for that in react-native

[2015-02-04 16:16] #38 closed

[2015-02-04 16:18] vjeux commented on #29
@jimmyhmiller thanks, it fixed it :)

[2015-02-04 16:18] #29 closed

[2015-02-04 16:21] vjeux commented on #25
If I remember correctly, it had to do with the creation of the iframe and setting css. I couldn't get the timings right.

https://github.com/facebook/css-layout/blob/master/src/Layout-test-utils.js#L52-L83

[2015-02-04 16:27] vjeux commented on #39
This is the result of the layout algorithm, it looks correct to me. I feel like there's something wrong with your bindings.

[code]

[2015-02-04 16:31] vjeux commented on #39
I also tried with a container with a fixed size, and gives me the same good looking result

[code]

[2015-02-04 16:33] jlongster commented on #39
Oh, is the top/left relative to the parent? That would make more sense!

[2015-02-04 16:33] vjeux commented on #36
This is a low level implementation in a separate phase in React Native. It cannot be used with React directly :(

[2015-02-04 16:33] #36 closed

[2015-02-04 16:33] vjeux commented on #39
Yup, relative to the parent :)

[2015-02-04 16:33] #39 closed

[2015-02-04 16:50] jlongster commented on #39
Awesome, fixed on my end, thanks!

[2015-02-05 05:18] nick commented on #36
are there plans to add support eventually?

[2015-02-05 05:40] jlongster commented on #36
This isn't really that useful on the web. There's a key component missing, which is measuring width/height of text. Until that happens, we can't really do manually layout.

[2015-02-05 15:05] #25 closed

[2015-02-05 16:33] nick commented on #36
I was thinking of using it for a 2 column layout with a fixed header, footer and left column. I suppose there's not much point in only 'half' implementing the spec though.

[2015-02-08 21:28] amirouche commented on #24
The layout will fail if the a child miss "style" attribute cf. https://gist.github.com/amirouche/c756a6bb4de2aa95e958#file-app-js-L18

[2015-02-09 16:40] 1genius commented on #25
Hi Christopher,

I’m writing because I need your help.  I was looking at the java code for iframe.  I would like very much to help you and other java developers on the Github site but my java is at the basic level.  I got an A+ in the basic course.  How do I get to your level?  Your program in iframe uses function but I know that methods in java start with public static void or public static int.

[2015-02-10 23:10] nickdesaulniers opened #46 "must run examples in Chrome"
From the readme:

I'm curious, why do the examples/tests depend on one browser?

[2015-02-10 23:49] vjeux commented on #46
Mostly because I only needed to test it against one implementation to make sure that it is correct.

@ryanseddon made the test suite run on Firefox as well, but apparently there are still some failing tests. Need to investigate what's going on
https://github.com/facebook/css-layout/pull/43

[2015-02-12 18:07] FremyCompany opened #47 "CSS Grids: Is there any interest in integrating a grid implementation?"
Hi,

I'm the maintainer of the CSS Grid Polyfill <https://github.com/FremyCompany/css-grid-polyfill/blob/master/src/css-grid/lib/grid-layout.js> and I think your probject is awesome. I was wondering whether you would be interested to incorporate a css grid implementation in your project.

My implementation is independent of the fact it polyfills real CSS+DOM as the layout is performed on pure JS o

[2015-02-12 19:23] vjeux commented on #47
Hey François,

Thanks for reaching out :) Just looked at your project and it's super interesting.

I'll be honest, I'm not really interested in integrating CSS Grid into this project. I used css-layout as a lack of inspiration, it's not intended to reproduce the entire CSS spec.

**However**, I really want to look into extensibility points. For example, I'd love to be able to give a special layout

[2015-02-12 19:25] alexanderGugel opened #48 "Publish to npm"
You have a beautiful `package.json`, but it seems like `css-layout` is not in the [npm registry](https://www.npmjs.com/package/css-layout) registry.

Could you publish this to npm, please?

[2015-02-12 20:40] vjeux commented on #48
Sure, good idea :)

[2015-02-12 20:41] vjeux commented on #48
Done

[code]

[2015-02-12 20:41] #48 closed

[2015-02-12 22:07] FremyCompany commented on #47
Great, I think working out an extensible model is what really matters in the end. Coupling multiple layouts is something I'm really looking for and a problem for which I haven't come with a solution to the problem yet. I'll try to have a deeper look at the code during the week-end; then we could have a discussion about the requirements and get started, I'm interested in contributing some time.

[2015-02-12 22:12] vjeux commented on #47
Great :)

I don't think that anyone found a good way to mix and match layout algorithms, but if we can nail it, we'd be in SUCH a better place.

[2015-02-12 23:05] FremyCompany commented on #47
Just wondering, is there any documentation of which files are generated by wich others for your project? That would probably save me time reading it, given it spans at least three programming languages ^_^

Also, just being curious, why use both C++ Java and JS in the same project? Was it a choice or was it to reuse existing components?

[2015-02-12 23:41] vjeux commented on #47
We're using css-layout inside of React Native ( https://code.facebook.com/videos/368465899999310/react-js-conf-2015-keynote-2-a-deep-dive-into-react-native-/ ), the JS version is the canonical version that's tested against the browser to make sure it is working correctly, but is ultimately not the one being executed. Only C and Java are using in production

[2015-02-13 10:28] haihappen commented on #36
I would love to use css-layout in my projects as a fallback for IE's lacking support of flexbox. Any chance to do this?

[2015-02-13 14:51] fczuardi commented on #24
the workaround for now is to use @jimmyhmiller's fork that includes the fillNodes function in the library and exposes it, it would be better to also have the extractNodes from @Dashed in there as well so that the result is consistent with what the README says the output will be…

So, here is what I am doing as a workaround for using css-layout in a javascript project:

[code]

Then, in the javascr

[2015-02-13 15:26] jlongster commented on #36
You might be able to get away with it if you never need to use `flex: 0`. If you use `flex: 0`, you need to calculate the width/height of the box based on contents, which this library does not help with. The web doesn't help either. Native platforms have measurement APIs.

[2015-02-13 16:00] jimmyhmiller commented on #24
My goal is to have my repo in a state where I can make a pull request this weekend. I'm hoping to have some time Sunday to work on it.

[2015-02-13 16:48] vjeux commented on #36
@jlongster this is not entierely true. You can measure text by creating dom nodes and measuring them in an iframe but it's prohibitely slow. There's the canvas api that's faster but doesn't do line breaks so you've got to hack around it. There isn't any in a web worker.

So, it's not that there is no text measurement api, it's more like none of the existing ones are good eno

[2015-02-14 17:58] pandeiro commented on #24
+1 @jimmyhmiller @Dashed @ColinEberhardt

Glad I found this issue -- we'd like to use css-layout from [clojurescript](https://github.com/cljsjs/packages/tree/master/css-layout) so a fix for easier use from JS is most welcome!

[2015-02-15 13:39] FremyCompany commented on #47
I had a closer look at the code, and I think it's currently a hard fit for an extensible layout system, because it doesn't fit the requirements at this time. Here's a run-down of my thoughts on the project:

[+] It's great to see it support multi-directionality. I more or less left that out for my CSS Grid polyfill because I didn't want to understand the interactions between items of different dir

[2015-02-16 13:11] jimmyhmiller commented on #24
Since my PR was merged this example now runs. @pandeiro let me know if there is anything you find you. I'm excited to see what everyone is building with this, got some ideas myself.

[2015-02-16 13:11] #24 closed

[2015-02-16 13:26] Dashed commented on #24
@jimmyhmiller Thanks for the refactor :+1:

[2015-02-16 16:47] oravecz opened #51 "Polyfill"
Is there potential for a flexbox polyfill for IE8 and IE9 (and IE10)?

[2015-02-23 13:26] wesleyboland opened #52 "Supporting Browser?"
Hi, what browsers is this intended to support?

[2015-02-23 15:01] vjeux commented on #52
This is a pure js implementation so it works on every browser out there.

[2015-02-23 15:12] wesleyboland commented on #52
very cool.

[2015-02-23 15:12] #52 closed

[2015-02-24 04:11] jimmyhmiller opened #53 "Update npm package"
Looks like I might finally get some time to work on my project using css-layout. And of course I can clone it to use the updated js api. But, it would be nice if the npm package was updated.

Thanks for the awesome work on react and this library.

[2015-03-02 19:45] RangerMauve opened #54 "Does this handle text?"
The example in the JSFiddle seems to imply that `<Text>` tags automatically size based on their content, but I don't see text content being mentioned in the [supported attributes](https://github.com/facebook/css-layout#supported-attributes)

Could you clarify how this library should be used when the size of the text content is not known in advance?

[2015-03-02 19:52] vjeux commented on #54
You need to provide a `measure` function in order to measure text. Unfortunately, there is no clean API on the web to measure text so you have to hack around.

You can take a look at
https://github.com/facebook/css-layout/blob/master/src/Layout-test-utils.js#L321-L351
for an example, but it's suuupppeerrr slow

[2015-03-02 20:04] RangerMauve commented on #54
Ah, expected as much.

I was thinking that if I limited myself to supporting monospaced fonts, it'd be easy enough to do it in two passes.

Basically, run over the layout as if there was no text content, then look at the heights and widths that got computed, then for places, where the height should be varying, calculate the number of lines that would exist based on how many characters fit into the

[2015-03-03 03:01] RangerMauve commented on #54
Seems this was also discussed in #36

[2015-03-03 03:44] RangerMauve opened #55 "Contents stop respecting parent's top"
I've made a small renderer for turning the generated boxes into an SVG image, and it seems that children within one of my elements keep being positioned relative to the top of the image, rather than the top of their parent.

Specifically, in my [example](http://rangermauve.github.io/css-layout-render/example/), the `content` element's children keep being positioned relative to the top. Their `widt

[2015-03-03 03:50] vjeux commented on #55
Note that the position is relative to the parent, if you want to display it relative to the root, you need to manually accumulate all the positions. Does it make sense?

[2015-03-03 04:01] RangerMauve commented on #55
Oh! I hadn't realized that. Thanks for clearing it up!

[2015-03-03 04:01] #55 closed

[2015-03-05 12:30] ccorcos opened #56 "constraint solver"
Have you guys though of building in a constraint solver? I believe this is how Apple does layout. This way you can do things like set two elements equidistant from the center, or set the distance between to items. I think this would really take the web to the next level.

https://www.npmjs.com/package/cassowary

[2015-03-05 12:41] sidorares commented on #56
https://twitter.com/Vjeux/status/561990962071625728

[2015-03-05 12:51] ccorcos commented on #56
You can't express a boolean operation with linear inequalities -- correct. But you can compute the boolean operations and then do the constraint solver on what's left...

[2015-03-05 12:54] ccorcos commented on #56
I see what you're getting at here with text-wrapping... the problem is the order of operations. If you know the width, you can compute the height (with text wrapping). But if you don't know the width yet, then you can't compute the height yet, and everything is fucked. is that what you're talking about?

[2015-03-05 12:57] ccorcos commented on #56
It seems like this could be possible. So long as the width isn't based on the height. You could solve everything up to the width. The calculate the height, then calculate the rest. Anything that depends on the height will need to wait to be calculated...

[2015-03-05 14:15] RangerMauve commented on #53
Yeah, I ended up cloning the repo to work with it. But because of that I can't safely release any modules that use this.

[2015-03-05 17:34] vjeux commented on #56
Yeah, this is what css-layout implementation does. The issue is that it's not how the constraint solver works. You can't really inject rules dynamically like this. You need to know up-front what the constraints are.

If you don't, then you need to do multiple passes by using a fake height, but then it's slow because multiple passes, and you don't have a guarantee that it's going to converge anymor

[2015-03-05 17:35] vjeux commented on #53
Just pushed 0.0.2, sorry about the delay

[2015-03-05 17:35] #53 closed

[2015-03-05 17:50] RangerMauve commented on #53
Thank you!

[2015-03-05 20:54] ccorcos commented on #56
If your problem is with text-height, you can set the default height to something like 1. Then, since the width CANNOT depend on the height, you can calculate the new height for all of them. One more pass with these heights, and you should have the layout, right?

[2015-03-05 21:35] vjeux commented on #56
If you have multiline text, the height MUST depend on the width.

[2015-03-06 19:04] ccorcos commented on #56
yes, but not the other way around. there dependency must be one-way. height depends on width. width doesnt depend on height. so set the height to some constant. Calculate everything else. Then calculate the heights based on the computed widths, etc.

[2015-03-06 19:11] vjeux commented on #56
the problem is that many other things depend on the height of the text. The height of the container, the top of the next element...

[2015-03-06 20:10] RangerMauve commented on #56
Is two passes really that bad a solution?

[2015-03-06 20:12] vjeux commented on #56
You may have other constraints that are invalidated by this second pass. So you need a third ... and maybe a fourth and so on. And, because you are using heuristics, you lose the convergence property of the constraint solver. So you may never find a proper solution

[2015-03-06 20:14] ccorcos commented on #56
container height is a perfect counterexample. let me think on this a little more...

[2015-03-06 20:29] ccorcos commented on #56
So image this scenario where we have two text elements on top of each other. We set their heights to a constant. Run the solver to get their widths. Then we rerun the solver to get their heights. This scenario works right?

Ok. Now I'm thinking your container counterexample does disprove the point. If we set the height of the text elements to a constant, we may have all kinds of wrong values left

[2015-03-06 20:31] RangerMauve commented on #56
That kind of what I was thinking. If there is a limitation that text should only really stretch vertically, then two passes should be enough.

[2015-03-07 00:18] mrjjwright opened #57 "Percentage widths and heights"
Hi,  this is an awesome library and I wrapped it easily in Objective-C and am loving the easy layout.  One thing I ran into today, my third day with the lib, was how to update the bounding box of a layout when it's used in a different situation since the library doesn't support percentage based widths?  E.g, an orientation change.  How to specify that a layout should fill it's container at 100%?

[2015-03-07 00:23] vjeux commented on #57
flex: 1 is probably what you want. It is the equivalent of height: 100%

There's also alignItems: 'stretch' which is the default and width: 100%.

Note that if you have flexDirection: 'row', the axis is inverted for the two above

[2015-03-07 00:26] mrjjwright commented on #57
Ok, looks like a rookie question, all I need to do is make sure the containers that need to be "responsive" have these properties, makes total sense.  Thanks @vjeux!

[2015-03-07 00:26] #57 closed

[2015-03-08 18:51] mrjjwright opened #58 "Centering"
With flexbox, what is the way to create a header layout like found in a navigation bar?  E.g,  [<   Navigation Title  ], where inside the container there is a back button followed by a centered title.  I assume that the container would be set to `align:items:center` and `justify-content: center` and the back arrow would be set to `align-self: flex-start`.   This is not working for me, I have to ma

[2015-03-08 19:44] vjeux commented on #58
Yeah, this is not something that flexbox is good at.

One thing you can do is

[code]

but, in case it's overlapping, it's going to be really ugly.

[2015-03-08 21:36] mrjjwright commented on #58
Thanks @vjeux.  My idealism with flexbox met it's first wake up call but no biggie.  I am building an iPhone app that let's user create arbitrary grid like layouts and it's still a highly intuitive tool to use for that.  It's less verbose than Autolayout.  I have a couple of choices however to handle cases like this and others, e.g. constrain the width and height of an item to be the same.

My fir

[2015-03-08 21:36] #58 closed

[2015-03-08 22:33] vjeux commented on #58
Yeah, flexbox is not perfect. And, I don't think any declarative layout can be.

What I really want to research is the ability to let the developer write arbitrary layout (using code) when he wants to. For example, you can have your entire application using flexbox for the layout, but for the navigation bar component, write code that does it.

If you are used to iOS, basically let the developer wr

[2015-03-08 22:54] mrjjwright commented on #58
Actually I just solved my most pressing layout use cases  by adding some pre and post hooks before css layout.  Pre hook e.g: constraint width to height, post-hook example:  vertically align in superview.   I like this approach over auto layout constraints.  If you think of how a designer works visually, they basically lays things out in a flow and then aligns things, so it makes good sense.   I t

[2015-03-09 20:00] lynndylanhurley commented on #51
I'm wondering this as well.

#52 says that it works on "every browser out there", but that sounds kind of insane.

@vjeux - can you confirm that this will work with IE8 and IE9?

[2015-03-09 20:01] RangerMauve commented on #51
This won't style the page for you, but it'd totally be possible to write a polyfill that's based on this library.

[2015-03-09 20:24] lynndylanhurley commented on #51
@RangerMauve - thanks, I think I may have misunderstood the goals of this project.

Just to be clear, is it safe to say that this project is meant to provide flexbox layouts to native environments (iOS, Android), and not to serve as a flexbox polyfill for browsers?

[2015-03-09 20:35] RangerMauve commented on #51
It's not bound to native at all, it just doesn't change the style of DOM nodes for you.

What it does do is compute the different sizing of elements given some CSS rules that use flexbox. If one wants to then use that sizing to render native stuff they can. If they wanted to, they could also use it to update the styles of DOM nodes in the browser.

But out of the box it just does calculations

[2015-03-26 16:57] esprehn opened #61 "extractNodes puts objects into slow mode"
extractNodes calls delete on objects which puts them into slow mode in v8 and other JS engines. Specifically calling delete node.layout; and delete node.children; is bad.

It also adds a children property to the layout objects which means that the code inside the layout algorithm and the code outside are using two different "kinds" of objects in terms of what the JS engine thinks the types are.

I

[2015-03-26 16:59] esprehn opened #62 "fillNodes overwrites the layout and children properties"
If node already has a layout object it should leave it alone, this just means allocating new Rect like objects each time this is called even if layout has been done before.

Also if you define node.style.measure it clears the children property, but that's bad if the measure function wanted to be able to look at the children or call layout on them.

[2015-03-26 17:12] esprehn opened #63 "measure should be on node, not style."
The measure callback seems to be designed for text, but the text is stored in the node itself not in the style of a node, which means to use the node.style.measure callback you need to create a new closure for every node that reflects back to the node's value.

node.style.measure = function(width) {
  var text = node.textContent;
  return measureText(text, width);
};

instead if the method was pla

[2015-03-26 17:42] esprehn opened #64 "Style checks force code to go polymorphic or worse"
width/height/top/left use isDimDefined and isPosDefined which checks for undefined. margin and padding properties use the "in" operator which isn't fast and also means you need to totally omit those properties from your object if you want them to have "no value" for layout.

ex.
[code]

should just be return node.style[pos] || 0;

For getSpacing it should do:

[code]

This means your style object

[2015-03-29 21:12] jasalo commented on #57
What about trying to get a <View> elemtn to fill a third of the parent's or the "window's" width, something like
{width: '33%'}
So far it doesn't seem possible, as it only parses the String into Integers.
Any workaround you guys know?

[2015-03-29 21:23] vjeux commented on #57
You can use flex for that

[code]

The first view is going to take up 1/(1+2) and the second is going to take up 2/(1+2) of the parent

[2015-04-25 09:01] csonlai opened #71 "How to make element display:none?"
How to make element display:none?

[2015-04-25 14:20] vjeux commented on #71
You don't send them to css-layout. What display: none do is to remove the elements from the render tree, and therefore also from the layout tree

[2015-04-25 14:20] #71 closed

[2015-04-27 16:42] mrjjwright opened #73 "Question: performance of reusing layout object."
I am writing a Mac app that use Layout.c wrapped in Obj-C with a React like component virtual rendering model.  I am wondering how much performance is gained by reusing the same Layout object on subsequent layouts.  I am trying to evaluate whether it's worth it to keep a stateful Layout.c backed object between renders or not.  I notice there is logic in Layout.c that check dirty bits and previous

[2015-04-27 16:53] vjeux commented on #73
The very basic caching layer that I implemented gives a huge performance benefit for React Native workload.

1) Most updates in React Native are small, when you click a button, touch something or animate there's only a handful of elements that are affected after the diff algorithm.
2) We keep everything in a single layout tree, all the previous screens, all the ListView elements... Recomputing the

[2015-04-27 16:55] mrjjwright commented on #73
Thanks @vjeux for the lighting fast response as usual.  :)  Interesting feedback.  It looks layout is recomputed everytime because node->isDirty is always true.   How does your caching layer work at a high level?  I also am designing this from the start to compute layout off the main thread and to not create unnecessary views that just do layout.

[2015-04-27 16:57] mrjjwright commented on #73
Feel free to just point me to a file name in React Native and I will figure it out.

[2015-04-27 17:02] mrjjwright commented on #73
I am leaning towards keeping a global layout map for all layout data like I do for component state and just keep track of all layout params as they change.  Then pass this state off to a stateless Layout.c backed Layout object that recomputes only portions of the layout tree that have changed.

[2015-04-27 17:02] vjeux commented on #73
Every time we update any property that impacts layout, we dirty the node and all the parents up to the root. https://github.com/facebook/react-native/blob/72d3d724a3a0c6bc46981efd0dad8f7f61121a47/React/Views/RCTShadowView.m#L271

Then, the next time we recompute layout, we start from the root and bail out super fast on all but the paths that have been dirtied. This general dirty strategy is really

[2015-04-27 17:07] vjeux commented on #73
The big difference between React component model and layout is that a React component CANNOT affect the state of the parent, but layout can.

Let me give you a super dumb example. You have a container with two children stacked vertically. If the first child updates and becomes taller, then you need to change 1) the parent dimension and 2) the second child position.

You have two options:

1) You c

[2015-04-27 17:09] mrjjwright commented on #73
Oh great point, you just saved me from going down a bad path, that makes very good sense.  Holy cow, thanks so much!  Closing and off to some simple dirty checking .

[2015-04-27 17:09] #73 closed

[2015-04-27 17:11] vjeux commented on #73
It took me almost a year to realize that! I've been trying to fit layout inside of the React model so many times and didn't understand why it wasn't working.

[2015-04-27 20:27] mrjjwright commented on #73
So I decided to try to actually just React Native to drive my views.  Hold your breath :) I want try to actually use React Native's native layer with my component layer since it already has so much work put into it and handles layout, updating of the views and everything else so well.  I don't want to use React as the component layer because I am experimenting with something I can't talk about qui

[2015-04-27 20:37] vjeux commented on #73
Nice! At some point in the future we want to document that protocol so that we can have other abstractions on-top like Angular Native, Ember Native... If you conform to it, then you can use all the iOS and Android modules and API that have already been bridged.

[2015-04-27 20:41] mrjjwright commented on #73
Cool so the approach I am using is looking through BatchedBridge, MessageQueue and of course looking at actually stuff sent from AwesomeProject.   I should be able to figure it out.

[2015-04-27 20:54] mrjjwright commented on #73
I am figuring it out, an array of arrays, pretty simple!

[2015-04-27 22:32] mrjjwright commented on #73
It's working!

[2015-04-28 04:40] matt-d-rat commented on #73
...and it was at this point the Facebook Police busted down @mrjjwright door and we never heard from him again ;-).

[2015-05-04 21:51] mrjjwright commented on #73
Still alive here.  :)  I have a conceptual follow up question to this.  I have succeeded in building a nice off the main thread layout system.  However, if a root view  (let's say a React Native root view or some other ui view hosting a layout system) has it bounds changed, obviously the layout needs to change.  If the layout happens in a background thread, how to sync the changes visually with th

[2015-05-05 11:42] prenaux opened #78 "The children items are not vertically 'stretched' properly when the height of the parent is defined."
The children items are not vertically 'stretched' properly when the height of the parent is defined.

## in Chrome
![in Chrome](https://cloud.githubusercontent.com/assets/164860/7471822/313dc516-f35e-11e4-9e6c-37b27dffeec6.png)
## in React Native
![in React Native](https://cloud.githubusercontent.com/assets/164860/7471823/314380aa-f35e-11e4-89d5-9e80d8293209.png)

## Sample HTML used in Chrome
[co

[2015-05-05 15:13] vjeux commented on #78
Nice find, do you want to take a stab at fixing it?

[2015-05-05 15:15] vjeux commented on #73
You are spot on, we're facing this exact issue and haven't yet figured out the right solution to fix that :)

[2015-05-05 15:52] prenaux commented on #78
Yup, I've got the basics working now. Hacking in the C code atm, I'll put it back to JS once I'm done.

I've added support for alignContent since that's the root of the problem. I'm referring to http://www.w3.org/TR/2012/CR-css3-flexbox-20120918/#align-content-property for the specs, its a bit light on math, but I believe I got the algo part sorted out now.

There's still an issue though, which is

[2015-05-05 16:04] vjeux commented on #78
Instead of allocating an array, can you add another field on the node object that you are going to use while doing the update? This way you don't need to allocate arrays, it's already allocated?

[2015-05-05 16:22] prenaux commented on #78
Yes, it should be possible to do the same thing by just adding a lineIndex field to the css_node, and then recomputing what's necessary in the multi-line + alignContent with fixed size case. I suppose that's a better option since the code is basically allocation free atm.

[2015-05-05 17:42] mrjjwright commented on #73
I am thinking that designing for "async" layout first is good but a bit naive.  In general a well designed UI rendering/layout system will be responsive on the main thread and give the user as much immediate visual feedback as possible. There is an obvious limit there (the each tick should take roughly 12ms limit) that can happen with text calculation or any number of things that take a long time,

[2015-05-06 07:24] prenaux commented on #78
Submitted a pull request with the implementation, going to integrate in react-native and add more test cases in Jasmine next.

[2015-05-06 07:57] prenaux commented on #78
alignContent is 'stretch' by default, same as alignItems and as Chrome/Specs. However the previous version of the code was behaving more like flex-start not sure if its better to be more like the previous behavior or to follow the specs...

[2015-05-06 09:33] prenaux commented on #78
A react component that 'tests' alignContent:

[code]

[2015-05-09 01:33] delimy opened #83 "Children items are not vertically aligned properly when the height of the parent is undefined"
[code]
"flex-end" in the sample is not doing anything.

[2015-05-09 01:39] delimy commented on #83
correct:
![screen shot 2015-05-08 at 6 37 44 pm](https://cloud.githubusercontent.com/assets/6600721/7548110/6e70cdf2-f5b1-11e4-9a79-1f28fdb59110.png)
wrong:
![screen shot 2015-05-08 at 6 38 06 pm](https://cloud.githubusercontent.com/assets/6600721/7548113/74ad8d2c-f5b1-11e4-9fc2-7c37e62a443a.png)

[2015-05-14 19:47] nickhudkins commented on #57
What about... 80% width, centered.

Is:

<View>
    <View style={{flex: .1}} />
    <View style={{flex: .8}} />
    <View style={{flex: .1}} />
</View>

the only way possible?

[2015-05-17 23:14] prenaux commented on #78
#79 has been merge, so closing this.

[2015-05-17 23:14] #78 closed

[2015-05-30 14:10] amirouche commented on #24
was the PR merged?

[2015-06-04 19:21] #46 closed

[2015-06-04 19:22] #47 closed

[2015-06-04 19:22] #51 closed

[2015-06-04 19:22] #54 closed

[2015-06-04 19:22] #56 closed

[2015-06-04 19:23] vjeux commented on #64
Totally! The js version has not been written with performance in mind. If you send a pull request i'd gladly accept it :)

[2015-06-04 19:23] vjeux commented on #63
Please send a pull request if that's something you want to see. This seems like a good idea

[2015-06-04 19:24] vjeux commented on #62
Please feel free to send a pull request for this :) The js version has not been designed with performance in mind, only the C one

[2015-06-04 19:25] vjeux commented on #61
So sorry about the huge delay for responding to your issues, I somehow didn't see the emails with your issues. All your suggestions are very good! If you still care about this project, please send pull requests and i'll gladly accept them!

[2015-06-04 19:34] RangerMauve commented on #54
Is text supported now? Or was this just cleanup?

[2015-06-04 19:37] vjeux commented on #54
Oops sorry, I'm cleaning up the issue queue. I don't have any plans of implementing it, but if you are interested, I may consider a pull request

[2015-06-04 19:49] RangerMauve commented on #54
Cool. Thanks for the clarification!

[2015-06-09 18:52] lynaghk opened #93 "Support for percentage width/height for cross-axis dimension?"
Currently only pixels are supported for lengths (e.g., min-height, max-height, height).
While flex can be used to handle percentage-like calculations along the primary axis (see #57 #27), there's currently no way to do percentage-like calculations along the cross-axis. (Just `align-items: stretch` on the parent, which corresponds to `width: 100%` or `height: 100%` on the child.)

Would ya'll be op

[2015-06-10 00:08] spicyj commented on #93
I don't think we have any philosophical objection. There's a fair amount of interest here: https://github.com/facebook/react-native/issues/364. No extra docs as far as I know of.

[2015-06-11 05:34] lynaghk commented on #93
I'll take a look at the existing code and see if I can figure out what'd be necessary to add percentage support. I'm currently evaluating some other options (using a browser for CSS calculations or implementing flexbox calcs in ClojureScript) so I can't estimate if/when I'll get to this --- good to know it's philosophically in the clear, though = )

[2015-06-28 21:38] JonSonesen commented on #64
Hey!
Noticed that this has been sitting for a while and would like to go ahead and implement these optimizations. I can get started right away but want to make sure that @esprehn didn't already tackle this so as to avoid redundancy. I am a CS student who couldn't find an internship this summer so I saved up money to take the summer off and do as much work on open source projects as I can handle. :

[2015-06-28 21:42] vjeux commented on #64
Please send out pull requests :)

[2015-06-28 22:16] JonSonesen commented on #64
:+1:

[2015-06-29 10:46] fdecampredon commented on #36
stupid question, why not using a canvas measureText ability ? :p

[2015-06-29 10:50] vjeux commented on #36
@fdexampredon: the problem with measureText is that it doesn't handle text wrapping :(((

[2015-06-29 10:56] fdecampredon commented on #36
Could we not just compute textWrapping manually ?
In my previous company we had to use similar technique to use text wrapping  with svg.
We used unicode linebreak algorithm + measureText, and the result was not bad.

[2015-06-29 11:01] fdecampredon commented on #36
We event thought about computing that in a web-worker with embedded font + font parser (and so no measureText) but It was a bit complex so we ended up never trying it ^^.

[2015-06-29 11:10] vjeux commented on #36
We absolutely could :)

[2015-06-29 11:13] fdecampredon commented on #36
Ok I think i need to try that :p, any advice ?

[2015-08-03 09:44] hgourvest opened #97 "Dead code"
dead code in Layout.c at line 1121
eq(layout->last_direction, direction);

[2015-08-04 18:04] facebook-github-bot-6 commented on #83
Thank you for reporting this issue and appreciate your patience. We've  notified the core team for an update on this issue. We're looking for a response within the next 30 days or the issue may be closed.

[2015-08-05 22:04] darkforestzero opened #98 "default for flexDirection is CSS_FLEX_DIRECTION_COLUMN in layout.c, but in real CSS it is CSS_FLEX_DIRECTION_ROW"

[2015-08-05 22:26] jaredly commented on #98
This was a conscious choice.
cc @vjeux

[2015-08-05 23:04] jaredly commented on #64
@JonathonSonesen were you going to PR with those fixes?

[2015-08-05 23:06] jaredly commented on #98
see https://github.com/facebook/css-layout#default-values

[2015-08-05 23:22] JonathonSonesen commented on #64
Hi Jared, after running the tests I found that there were no notable
performance improvements from my changes so I closed the pull request also,
I am not very experienced so I wasn't sure what I had done was even
correct. I started a summer class and its an accelerated course so my time
has been filled with calculus 2 for the last 7 weeks in addition to doing
udemy courses for js and python. I can

[2015-08-06 04:55] jaredly commented on #64
Ok cool :) good luck with finals

[2015-08-06 05:02] JonathonSonesen commented on #64
Thanks man! I plan to slay them, with the sweet knowledge blades I've been forging ;)

[2015-08-06 19:12] darkforestzero opened #100 "Different behavior for flex child in css-layout implementation"
The following html and css: http://jsfiddle.net/mme911he/2/ when implemented via css-layout (layout.h) result in the "broken" div's height being reduced to zero.  In other words, we see a red box on the web and a purple box in our c code.  The bug seem to occur when a flex child (broken) is inside a flex container and that container's sibling has a fixed size. If we set the min height, the same as

[2015-08-07 11:24] ColinEberhardt opened #101 "Create a release process"
This has turned into a really popular library, which I have seen used in  a number of interesting ways - :+1: - however, it currently seems to lack a release process.

I am interested in this because I am contributor to a library, http://d3fc.io/, which depends on css-layout. As a result, I am primarily interested in the JavaScript version of css-layout.

I'd really like to give our users options

[2015-08-07 15:19] vjeux commented on #101
That's a good idea. Are you interested in doing it? If yes, i can give you commit access and work with you on it :)

[2015-08-07 16:02] jaredly commented on #101
@ColinEberhardt that layout component is a neat application of css-layout to svg :) sounds really useful

[2015-08-08 05:45] ColinEberhardt commented on #101
Thanks @jaredly :-)

Yes, @vjeux - happy to implement this. I'd like to split it into steps:

1) Create a grunt build that tests, minifies and creates the release distributions
2) Hook (2) up to Travis
3) Update the Travis config to perform the releases

I'll start work on this over the next couple of weeks.

[2015-08-10 15:43] vjeux commented on #101
Sounds like a good plan :)

[2015-08-11 10:45] ColinEberhardt opened #102 "npm run pretest fails"
There are currently a number of eslint issues

[code]

And linting / hinting should probably be added to the build. I'll have a look at this alongside #101

[2015-08-11 15:51] ColinEberhardt opened #103 "Incorrect implementation of the UMD pattern for browser clients"
Currently `main.js` and `Layout.js` implement the UMD pattern based on this variant:

https://github.com/umdjs/umd/blob/master/returnExports.js

However, both implementations have the following lines:

    // Browser globals (root is window)
    root.returnExports = factory();

This means that in the absence of an AMD or CommonJS environment, the module will be added as a `returnExports` function

[2015-08-11 15:52] vjeux commented on #103
Agreed :) do it

[2015-08-11 15:56] ColinEberhardt opened #104 "QUESTION: Are the tests in C redundant?"
Just a quick question, the tests in 'C' look like they are all transpiled from the JS tests. Would it be OK if these were removed if the JavaScript tests were run through Travis instead?

I'm just looking to simplify things as much as possible :-)

[2015-08-11 15:59] jaredly commented on #104
I like the c tests for confidence that the transpilation process was correct
On Tue, Aug 11, 2015 at 8:56 AM Colin Eberhardt <notifications@github.com>
wrote:

[2015-08-11 16:01] ColinEberhardt commented on #104
You trust that transpilation was a success based on tests that run through the same transpiler? Is that wise?!

[2015-08-11 16:02] ColinEberhardt commented on #103
Was that comment meant for #104 ?

I'd like to fix the AMD implementation with a less cut'n'paste oriented approach if possible :-)

[2015-08-11 16:10] vjeux commented on #104
Yeah, we absolutely need C and Java tests. It ensures that the C and Java code we transpile is not completely bogus. There's non-transpiled code that needs to be "integration" tested. It caught a lot of bugs.

[2015-08-11 16:12] vjeux commented on #103
Sorry, I just meant that you should do whatever you want to improve the situation :)

[2015-08-11 16:19] ColinEberhardt commented on #104
Thanks @jaredly and @vjeux - if they have a history of catching bugs, they are definitely worth keeping :-)

[2015-08-11 16:19] #104 closed

[2015-08-11 16:19] ColinEberhardt commented on #103
Thanks - will do :-)

[2015-08-11 16:54] vjeux commented on #102
:+1:

[2015-08-12 06:19] #102 closed

[2015-08-12 06:19] #103 closed

[2015-08-12 07:58] ColinEberhardt opened #107 "fillNodes should be an optional step"
The current public JS API adapts `computeLayout` to add a fillNodes step, which tramples over any existing `layout` properties, see #62

I think the public API should make this optional ...

[code]

Currently within d3fc we do not use the adapted version of the API.

[2015-08-12 17:49] vjeux commented on #107
I don't like boolean arguments. Can you just make fillNodes exist only in the test environment and not expose it outside?

[2015-08-12 19:10] ColinEberhardt commented on #107
Hmm ... you're right, think about it boolean args lack discoverability and don't self document.

I'll have a rethink.

[2015-08-17 10:50] #61 closed

[2015-08-17 10:50] #62 closed

[2015-08-17 10:50] #107 closed

[2015-08-17 14:06] neophob opened #111 "Current NPM installation fails due wrong package.json reference"
The package.json references ```"main": "src/main.js",```- this file does not exists (anymore), thus an npm install will fail. I changed the reference to ```"main": "dist/css-layout.js",``` then it works.

[2015-08-17 16:18] ColinEberhardt commented on #111
Thanks for spotting this @neophob - I've fixed it now, just waiting for the CI build.

[2015-08-17 20:26] #111 closed

[2015-08-20 04:52] fabienbrooke opened #114 "Document measure method"
css-layout looks for a `measure` method on the node.style object. Can you please describe how this is used within the library and whether it is required?

[2015-08-21 05:14] fsbdev opened #115 "Integratation with React"
The API requires passing a node tree but walking React component tree doesn't give you what you need to pass to this API in one go . Walking through a component's `_renderedChildren` gives you the `node`but not the `props.style`, walking through `props.children` gives you `props.style` but not `node`.

[2015-08-21 10:10] ColinEberhardt commented on #101
@vjeux - so after battling with Travis for a few hours ... I gave up! They have been making changes to the way npm integration works and it looks like I am not the only one struggling with npm deploy automation.

Anyhow, I have instead opted for a documented release process. It's only 4 steps, so not too bad:

https://github.com/facebook/css-layout/tree/master/dist

I've tested the process via a p

[2015-08-27 20:20] vjeux commented on #101
Absolutely :) Go for it!

[2015-08-28 17:30] paramaggarwal commented on #115
@fsbdev You need to pass the custom formatted tree as mentioned in the docs. You cannot pass a React component hierarchy directly. This is so that it is independent of React.

[2015-08-28 17:37] fsbdev commented on #115
Yes, but how can I create that custom tree from the React component tree?

[2015-08-28 17:44] paramaggarwal commented on #115
Well you need to walk `props.children` that will give you `props.style` as you mention. That's your tree. Then you can take the output `layout` and set it back on the React component tree. Looks like you are using React outside DOM context?

[2015-08-28 17:47] fsbdev commented on #115
Yeah I am. I have a WebGL scene graph instead. How do I set it back on the React component tree as you suggest? My idea was to try and get a reference to each node along with props.style as I'm creating the tree, but that led me to this issue.

[2015-08-28 17:54] paramaggarwal commented on #115
So what you'd like is that there is a React component tree with `props.style` like `flexDirection: 'row', flex: 1` etc. that you would like to convert to `top`, `left`, `width`, `height` for use in WebGL.

What you can do is walk React component tree and extract the `props.style` into a tree that css-layout understands. Pass the tree via css-layout to get the rendered `layout` attribute with `top`

[2015-08-29 06:00] fsbdev commented on #115
I got it working but I had to save the style objects onto my scene graph nodes too.
Thanks

[2015-08-29 06:00] #115 closed

[2015-09-03 11:32] tlightsky opened #120 "can css-layout use as a polyfill for flex 2012"
for example,
```display:flex``` is not fully supported on some device such as webview on android 4.1
can i use this as a polyfill on that device

[2015-09-08 06:42] ColinEberhardt commented on #120
Yes, it could be used as the layout engine for a flexbox polyfill that's a really good idea! You'd have to combine this code with a CSS parser in order to construct the polyfill.

[2015-09-08 06:49] ColinEberhardt commented on #101
I've released v1.0.0:

https://github.com/facebook/css-layout/releases/tag/v1.0.0

The code will shortly be available via npm and cdnjs - and the project can now start using semantic versioning.

[2015-09-08 06:49] #101 closed

[2015-09-08 12:41] tlightsky commented on #120
I want to use it like [this](https://github.com/cgarvis/react-vendor-prefix) in react component.
I think ```computeLayout``` is the key,but how to use this key to fix the wrong layout(browser not support flex 2012)?
```computeLayout``` need a ```nodeTree```,I think that's the whole tree.
but when translate,I can only get part of the whole tree.
Is there any hint?

[2015-09-12 07:07] dubert commented on #83
:+1:

[2015-09-16 21:55] brentvatne opened #127 "View not stretching vertically in column layout"
### @corbt said in https://github.com/facebook/react-native/issues/2724#issuecomment-140902710

I think I may have found a couple of inconsistencies that are related to my problem. I've created what I believe are equivalent layouts in React Native and HTML/CSS that appear to demonstrate different flexbox behavior. Am I just crazy or is this a bug?

#### HTML
JSFiddle [here](https://jsfiddle.net/aw

[2015-09-16 22:02] corbt commented on #127
Update: here's a new [JSFiddle](https://jsfiddle.net/awtLxLpm/1/) using the css-layout default styles and with updated inline styles appear the same as the old version. And the equivalent React Native JSX, which still renders to the image embedded above (tested on Android and iOS simulator):

[code]

[2015-09-18 08:24] myocytebd opened #128 "How to debug or log in javascript test?"
Or is it possible to provide a standalone html based test driver, so as to eliminate the steep learning curve?

[2015-09-18 17:33] ColinEberhardt commented on #128
If you edit the gruntfile you can set `singleRun` to false at the following line:

https://github.com/facebook/css-layout/blob/master/Gruntfile.js#L96

This ensures that the Chrome browser and Karma do not shut down after the test run.

You can run the tests as follows:

    grunt test-javascript

This will launch chrome allowing you to set breakpoints etc ..

[2015-09-24 06:45] ruanshanshan opened #130 "how to run java version"
import into java project ,but error with :the import javax.annotation.Nullable cannot be resolved, The import com.facebook.infer cannot be resolved

[2015-09-24 11:27] swathysubhash commented on #83
Facing this issue

[2015-09-25 05:57] zackhsuan opened #132 "Labels and image views baseline alignment support"
Hi all,

Flexbox natively supports baseline alignment, but it seems like react-native has not implemented this yet.
I suppose that it would be awesome if css-layout could offer controls like labels or image views to work with baseline mode. Plus, the native auto layout tech supports baseline alignment too.

Many thanks. I appreciate all you excellent work.

[2015-09-25 06:27] ruanshanshan opened #133 "add another properities"
This project implements a subset of CSS ，can add another properities

[2015-09-25 16:11] vjeux commented on #133
Can you tell which properties you want supported?

[2015-09-28 07:11] plrthink commented on #57
How to solve this problem (http://stackoverflow.com/questions/18744164/flex-box-align-last-row-to-grid) without percentage value support?

[2015-10-01 20:20] rreusser commented on #83
We may be experiencing a very similar issue in which flex properties have no effect unless the width is explicitly defined. In other words, centering is basically impossible unless the width is explicitly set. This could be solved if `width:100%` were possible, but that's a separate (but again, related?) issue.

[2015-10-03 01:40] ruanshanshan commented on #133
such as animation、background、tables and so on

[2015-10-07 12:21] kmagiera commented on #130
You need to add the content of https://github.com/facebook/css-layout/tree/master/src/java/lib to your java classpath

[2015-10-07 12:21] #130 closed

[2015-10-07 20:25] ColinEberhardt commented on #130
Better still - use one of the versioned releases:

https://www.npmjs.com/package/css-layout

These contain the JAR file for the Java version.

[2015-10-07 20:25] #128 closed

[2015-10-07 20:27] ColinEberhardt opened #142 "Add C# version to the grunt build (and CI)"
Currently the build does the following:

 + Runs static code analysis on the JS code
 + Runs the JS tests
 + Transpiles to Java and runs tests
 + Transpiles to C and runs tests
 + Packages / bundles all of the above.

The CI runs all of the above too.

The C# code is very much absent from this process!

[2015-10-08 03:58] ruanshanshan opened #143 "version"
the css-layout  Supports cross-platform ? including anrdoid and ios ?

[2015-10-08 06:53] ruanshanshan commented on #143
we know, the css-layout has three versions why the react native for android select the C version?

[2015-10-09 02:35] zackhsuan commented on #132
Is anyone here could help?

[2015-10-09 08:43] lucasr commented on #132
I thinks this ticket is more about React Native than css-layout itself as this requires some platform-specific bits. Unless I'm missing something?

[2015-10-12 08:43] zackhsuan commented on #132
Thanks for your reply. @lucasr but unfortunately, I was redirected by React Native to post the issue here. https://github.com/facebook/react-native/issues/3020 Any idea that I can at least get the right place to post this issue?

[2015-10-14 07:19] tlightsky commented on #114
I need this too

[2015-10-14 07:24] tlightsky commented on #93
@lynaghk have you implement a cljs version?
I want to make a polyfill for flex2012 in older browser I think I can use some cljs version :)

[2015-10-14 14:54] lynaghk commented on #93
No, not yet. Still potentially on the horizon, but likely not for another 6
months.

On Wed, Oct 14, 2015 at 12:25 AM, tlightsky <notifications@github.com>
wrote:

--
Kevin Lynagh
Keming Labs

*http://keminglabs.com <http://keminglabs.com>*888.502.1042

[2015-10-26 10:43] koppelaar opened #147 "Percentage widths support"
This issue has been brought up before (https://github.com/facebook/css-layout/issues/57) and has been closed, which I think should not be the case.

It's currently not possible to give an element a width of 50% without creating an empty dummy element next to it and assigning appropriate flexbox properties to both of them, which is of course a very weird solution. (http://stackoverflow.com/question

[2015-10-26 20:24] spicyj commented on #147
I imagine we would be happy to take a pull request for this, but it hasn't been a high priority because it is possible to replicate the behavior in most cases using flexbox even though it's "weird".

[2015-11-07 16:39] #114 closed

[2015-11-09 05:19] devongovett opened #149 "npm release"
Last npm release was in September, but some changes have happened since then. Can someone release a new version to npm? Thanks!

[2015-11-09 16:52] vjeux commented on #149
cc @ColinEberhardt

[2015-11-09 17:21] ColinEberhardt commented on #149
Good call - yes, it's been a while. I'll take a look at this tonight or tomorrow morning :-)

[2015-11-11 07:31] ColinEberhardt commented on #149
Done:

https://github.com/facebook/css-layout/releases/tag/v1.1.0

You'll also find this release up on npm. Would be great to get #142 resolved so that the C# API is properly managed also.

[2015-11-11 07:31] #149 closed

[2015-11-12 07:33] devongovett commented on #149
Looks like dist/css-layout.js didn't get rebuilt before the release. It still has the old code.

[2015-11-12 14:34] ColinEberhardt commented on #149
@devongovett thanks for the heads-up, I've published v1.1.1 that should fix this.

I clearly need to do a bit more work on the process, I'll update shortly!

[2015-11-20 09:12] ColinEberhardt commented on #142
Update: Thanks to #151 the C# code is now compiled and tested - the only thing missing from CI is the bundling, which in this case is the creation of a DLL.

[2015-11-21 02:23] brentvatne opened #152 "Padding on parent container interacting strangely with absolute positioned child"
Original issue: https://github.com/facebook/react-native/issues/4240#issuecomment-158357783

You can see it in action here: https://rnplay.org/apps/gtEDqA

Notice that the child view with the light-blue background is being given a width equal to screen width minus 2x the padding. Seems related to #74, but changing the parent container to absolute positioning doesn't fix it.

[2015-11-24 10:59] respectTheCode commented on #83
+1

[2015-12-03 09:30] waywardmonkeys opened #155 "layoutNode doesn't always skip layout when it could"
(This was found while I was reading the code, not by running it or anything.)

In 36a46673f9479f94f83277464c5c43766989c417 (from @lucasr), support for reverse layout and rtl was added.

At that time, the check for whether or not to skip layout in `layoutNode` was augmented and became this:

[code]

I'm pretty sure that the 2nd to last line should be a ``&&`` so that the check to see if `direction`

[2015-12-03 16:14] hayesmaker commented on #147
+1, seems weird to reimplement css without support for % widths (and height)

[2015-12-09 14:23] cxfeng1 commented on #147
+1

[2015-12-09 16:16] sherdeadlock opened #156 "There's no class in dist/css-layout.jar"
It seems to have test source only. Thanks.

jar tvf css-layout.jar

[code]

[2015-12-19 07:10] appleguy commented on #147
@spicyj curious what the recommended way is to replicate with the other functionality?  AsyncDisplayKit relies on a set of code similar to css-layout (it's ComponentKit's flexbox implementation), but it shares a similar limitation I'd like to resolve.

[2015-12-19 07:56] spicyj commented on #147
@appleguy I meant that in most cases, you can build equivalent layouts using flex box (perhaps with spacer views). For example, if you want a width 50% box, make two siblings each with flex 1. If you are trying to support percentages generically in ASDK, it is probably simplest to just change the flexbox implementation you have. I looked at adding percentage support to this one – looked pretty sim

[2015-12-19 07:58] appleguy commented on #147
Aha, thanks for the input!  Indeed we have ASRelativeDimension, which can express the idea of a %, absolute, or points - but just don’t have the logic (and also the API, but that would be relatively easy to add by changing our flexGrow / flexShrink from BOOL to a number).  A project for another evening.

[2016-01-04 18:43] darknoon opened #158 "Port to Swift"
I'm interested in messing around with building a swift version of css-layout. Just opening this issue to make sure I'm not duplicating work with anyone else.

I started hacking on it based on the c# code, since they're the most similar pair of languages. There are some unique challenges in figuring out the best type definition since swift lacks fixed-sized arrays (and you can't index a tuple by an

[2016-01-04 18:52] vjeux commented on #158
If you get it working, I'll gladly merge it :)

[2016-01-04 19:12] darknoon commented on #158
Thanks @vjeux. I probably have a few more hours of hacking to get it all to compile, then I need to figure out how to run the tests from grunt, etc.

[2016-01-05 14:37] emilsjolander opened #160 "Concept of max width/height for custom measure function"
When implementing a custom measure function there is currently no way of knowing of the width and height passed in refer to an exact height and width or a maximum value. For example when centering a node with a custom measure function it will be passed the width and height of its parent as this is the maximum size it can be measured at. The node being measured does not have this information howeve

[2016-01-08 18:44] vitalets commented on #147
+1

[2016-01-08 21:13] NekR opened #164 "LayoutEngine 183 test problem"
Hi guys, I am porting this library to Haxe (mostly manually changing syntax from Java to Haxe) and everything seems okay expect of `testCase183()` (the last) which fails with this diff: https://www.diffchecker.com/lpkicsai (Left: Actual; Right: Expected).

I am very new to this library, so it's very hard for me to find right place where I should look for the error. Any ideas why it may happen?

[2016-01-08 21:32] vjeux commented on #164
the way I usually debug that is to put bunch of console.logs and run that test and see where things get different and figure out why :)

[2016-01-08 21:33] NekR commented on #164
@vjeux, yeah, this is what I am doing now :)

[2016-01-08 21:47] vjeux commented on #164
This is pretty cool that you are working on that :)

[2016-01-08 22:34] NekR commented on #164
Okay, I found it. It was a difference in loops and that library uses iteration variable (`ii`) out of scope of `for`. Hexe doesn't have standard `for` loop (`for (;;;)`) but only `for (i in from...to)`. Anyway, it's fixed now :)

@vjeux Yep, it is. I just needed layout engine in a game I am working on, so `css-layout` is easier way to make it. But now I think.. why you may need it in JS and then t

[2016-01-08 23:36] #164 closed

[2016-01-08 23:47] vjeux commented on #164
It's unfortunately pretty hard to write things in different languages and interop nicely. For css-layout, the dom structure is in the host language and there's a parallel css structure that needs to be maintained so it's easier in one language.

To support obj-c, it's pretty easy to write it in C, but for js having to transpile with emscriptem is very annoying and I don't really want to have the o

[2016-01-08 23:55] NekR commented on #164
@vjeux I mean Haxe here, which is not most popular language of course, but it can compiler to what ever you want. And I understand that it's easier write JS, especially for for quick prototypes. And that compiled version (from universal) language could have (and probably have) some performance issues. But it looks nice to me that I can now use `css-layout` in C game and test it in JS with node lik

[2016-01-09 00:04] vjeux commented on #164
Yeah, if you implement the haxe version then we'll have many more for free :)

[2016-01-09 00:20] NekR commented on #164
Need to port `CSSNodeTest` and `LayoutCachingTest` and then it's done. I will create new issues as soon as it's ready :)

[2016-01-09 14:19] NekR opened #165 "Port to Haxe"
Hey, here it is: https://github.com/NekR/css-layout-haxe

It's not based on a latest repo commit though, but rather on a latest commit at a time of forking `css-layout` here https://github.com/NekR/css-layout (`4 commits behind facebook:master` at the moment). So some updates should be added, I think.

I tested it with JS and Java and everything works fine, I mean that tests pass.
To test on JS ru

[2016-01-09 14:39] lucasr commented on #164
Keep in mind that the Java transpiler doesn't do a direct translation from JS to Java. It also applies several Android-specific optimizations around avoiding method invocations as much as possible. Whatever general solution we end up using here will have allow for language-specific optimizations for css-layout.

[2016-01-09 15:03] NekR commented on #165
A bit more info -- it's ported from Java code with little modifications, e.g. `layoutContext` is removed and `measure()` uses real functions (Haxe functions) instead of Java-specific way.
So in case of JS, it compiles same type of code -- with constants, enums, etc. and as far as I understand, you need it in a bit different format to test agains Chrome's implementation, so wrapper probably is requ

[2016-01-09 15:30] NekR commented on #164
@lucasr Yes, it's understandable. I am looking now at generated Java code and I am not sure if I like it. But I am not a Java expert, so may be things are not that bad there.

[2016-01-09 20:09] lucasr commented on #164
@NekR Yeah, the generated Java code is extra verbose but that's intentional. We've done some aggressive method inlining (among other things) to improve performance on Android (see #120, #121, #122).

[2016-01-09 21:00] NekR commented on #164
@lucasr I meant generated from Haxe version, your Java handwritten + generated seems fine. I can provide/show generated Java code from Haxe if you do not want build it yourself :) If you are interested of course.

[2016-01-10 02:28] jonathantneal commented on #120
I’m working on a version of flexibility that uses css-layout. So far, it works fantastic.

I’m close to being finished, but I’m still working out a bug (actually I’m not sure if it’s css-layout or my implementation) where a `align-items: stretch; flex-direction: row; flex-wrap: wrap; width: 300px` container corrects stacks its children, but none of them stretch to match height.

Also, and I have n

[2016-01-11 00:51] jonathantneal commented on #120
The branch is up. https://github.com/10up/flexibility/tree/css-layout

[2016-01-11 17:50] NekR commented on #165
Okay, it's up-to-date now.

Anyway, not sure about usefulness of this port for you, because it turns out that Haxe adds its runtime to the generated code. So, it's probably always will be slower than pure-lang-code.

[2016-01-18 14:44] jonathantneal opened #167 "Supported Attributes"
I’d like to better understand your supported attributes.

You list `flex` as a [supported attribute](https://github.com/facebook/css-layout#supported-attributes) which accepts a positive number, but the [`flex`](https://developer.mozilla.org/en-US/docs/Web/CSS/flex) property is a shorthand for 3 properties; `flex-grow`, `flex-shrink`, and `flex-basis`. Does this mean `flex` is actually `flex-grow`

[2016-01-19 04:26] jonathantneal opened #168 "Flex with min-width"
Using `flex` and `min-width` together cause an unexpected horizontal overflow.

I have created a (vertical) side-by-side comparison. http://s.codepen.io/jonneal/debug/WrXEbM ( source: http://codepen.io/jonneal/pen/WrXEbM )

Also, the vertical stretching of items looks like `align-content: stretch` is in play rather than the [expected default](https://github.com/facebook/css-layout#default-values)

[2016-01-19 04:28] jonathantneal commented on #120
@ColinEberhardt, @tlightsky, [Flexibility](https://github.com/10up/flexibility/) is now powered by CSS Layout and it’s working very well.

[2016-01-19 06:11] ColinEberhardt commented on #120
That's really cool - nice work @jonathantneal

[2016-01-20 00:12] NekR commented on #160
Just hit same problem today. I expected measure function to have both `width` and `height` as `NaN` for centered element with no sizes. But only `height` is `NaN` in this situation, while `weight` is the width of parent.

[2016-01-20 00:20] NekR commented on #160
Sounds more like a bug to me, does measure function really expects sizes of parent node?

For example this makes it impossible to implement measurement for text views, I have following algorithm in mind and it doesn't work: if dimension of node is set -- use it, else -- use size of contained text.

[2016-01-27 09:09] liubobo opened #169 "why not support percentage layout ???? You are irresponsible，shit"

[2016-01-27 10:52] #169 closed

[2016-01-27 17:35] dubert commented on #169
It's not needed. You can get any percentage you need using `flex: 2`, `flex: 1`. That's 66% and 33%.

[2016-01-27 17:37] dubert commented on #147
I get the screenWidth and divide by 2 if I need an element that is 50% and don't want to create a dummy element.

[2016-01-28 02:53] lcb931023 commented on #169
:facepalm:
yall are too nice.

[2016-01-28 05:46] liubobo commented on #169
flex works only in one direction,

[2016-01-28 09:27] vitalets commented on #147
@dubert it works if you only create single orientation app. Otherwise on orientation change your elements will not update.

[2016-03-01 23:07] #83 closed

[2016-03-01 23:07] #127 closed

[2016-03-15 06:03] xueduany opened #173 "When flex:1, padding working wrong way"
![image](https://cloud.githubusercontent.com/assets/1139866/13768931/62c5cbec-eab6-11e5-8f24-6d4376542039.png)
![image](https://cloud.githubusercontent.com/assets/1139866/13768938/76068368-eab6-11e5-84c0-2380f050a755.png)
![image](https://cloud.githubusercontent.com/assets/1139866/13768945/9209b97c-eab6-11e5-9a68-357f1fd3c9d4.png)
when padding 4 direction all working ,it goes wrong way, double pad

[2016-03-16 14:59] javache opened #175 "Positioning issues for centered items when nested under stretched items"
Seeing this issues after pulling in https://github.com/facebook/css-layout/pull/171 in RN on iOS.

When there's a container view with unspecified cross-axis dimension, even though its calculated dimensions are known, it will perform a second recursive call. This second recursive call doesn't reset the position of recursively laid out children, and the offset to align any centered children will be

[2016-03-16 15:00] javache commented on #175
cc @lucasr @jsendros

[2016-03-18 01:23] xiekw2010 opened #176 "Java version `CSSNode.java` the `alignContent` doesn't export"
Could not setAlignContent in `CSSNode.java`, may be you should add it

[2016-03-18 23:37] alebo commented on #175
@javache could you provide a specific layout, please? #127 involves a centered item inside a stretched one and this example works fine in the latest version.

[2016-03-21 23:36] javache commented on #175
The critical difference might be that in Layout.js we reset all child layouts here: https://github.com/facebook/css-layout/blame/master/src/Layout.js#L1217-L1223

but in the native versions (.c/.java) we do not do this.

[2016-03-21 23:48] vjeux commented on #175
@javache: we do reset it but at a different place. Not on a computer right now but it's somewhere in the glue code that we have that's react native specific

[2016-03-22 00:04] javache commented on #175
Here's a test that shows this issue: https://gist.github.com/javache/f38f48b85d497da832ec

It works perfectly in JS (running `grunt test-javascript`) but fails when ran in C (using `grunt transpile`).

@vjeux we're probably missing that reset then somewhere now when the layout is re-entrant for stretch.

[2016-03-22 00:53] vjeux commented on #175
We reset it here, which is after the entire pass happened: https://github.com/facebook/react-native/blob/master/React/Views/RCTShadowView.m#L160-L170

[2016-03-24 10:19] xueduany opened #177 "default layout, padding is working wrong way with auto height"
![image](https://cloud.githubusercontent.com/assets/1139866/14014346/e887a16e-f1ec-11e5-90cb-03f0ee799e12.png)

[2016-03-25 19:49] javache commented on #175
Hmm, the Java version of this test does pass, but I don't see any reset of properties happening there either. Any idea why it would be different @vjeux?

[2016-03-27 16:27] abhishekmedipta opened #179 "Chat panel"
There is a bug in facebook in chat, there is a chat panel in right side of facebook page, when there are lots of people are online and that time, if we scroll the scroll bar, then last user are not showing properly.

see the attachment..

![screenshot 100](https://cloud.githubusercontent.com/assets/16331239/14066446/f1a7f6dc-f466-11e5-9677-ba7ea45b224f.png)
![screenshot 100 _3](https://cloud.githu

[2016-03-27 22:59] ericmasiello opened #180 "Question about "default values" listed on README.md"
On the README, it lists part of the default styling as for RN components as:

[code]
Am I wrong or do you actually mean:

[code]

[2016-03-27 23:08] vjeux commented on #180
No, this is actually align-content. The default is `stretch` and we want to make it `flex-start` instead. If you look at the spec, `justify-content` default is already `flex-start`.

[2016-03-27 23:08] #180 closed

[2016-03-27 23:24] ericmasiello opened #181 "What does `flex` actually do?"
In CSS, `flex` is just a shorthand for `flex-grow`, `flex-shrink`, and `flex-basis`. Since none of these properties exist in React Native, what does the `flex` property actually mean?

[2016-03-28 00:25] vjeux commented on #181
See the spec for flex: https://developer.mozilla.org/en-US/docs/Web/CSS/flex

If you have only one value, it means flex-grow:

/* One value, unitless number: flex-grow */
flex: 2;

[2016-03-28 00:25] #181 closed

[2016-03-28 00:27] ericmasiello commented on #181
Thanks! Are there plans to adopt `flex-shrink` or `flex-basis` at any point or were they deemed unnecessary?

[2016-03-28 00:41] vjeux commented on #181
The general thoughts when supporting a new feature in the project is that by default we don't, but if there are common use cases where this would be useful, then we should consider it. We don't want to support every css property in the world, but don't want to leave out useful ones either :)

I haven't heard many people saying that flex-basis and flex-shrink would be useful in the context of a rea

[2016-03-28 00:48] ericmasiello commented on #181
Fair. Just curious. Thanks again @vjeux!

[2016-03-29 10:15] #175 closed

[2016-03-30 10:06] aakashsigdel commented on #147
+1 really tedious to replicate some behavior with flex. Adding spacer views shouldn't be the solution for each and every case.

[2016-03-30 11:09] javache commented on #179
Hi @abhishekmedipta,

This is not a channel to report Facebook bugs. Please follow the instructions on https://www.facebook.com/help/186570224871049 to report this issue.

[2016-03-30 11:09] #179 closed

[2016-03-30 14:16] vjeux commented on #147
To repeat what @spicyj said, percentage support is something we want but haven't focused on so far. If you want to have an impact, please do work on implementing it :)

[2016-03-30 14:22] #155 closed

[2016-04-04 18:42] brentvatne commented on #127
Hurray, this is pulled into React Native now :) https://github.com/facebook/react-native/commit/d95757037aef3fbd8bb9064e667ea4fea9e5abc1

[2016-04-06 03:03] rigdern opened #183 "test-csharp runs 0 tests on OS X"
As you can see from the output here, 0 tests are run when I run `grunt test-sharp` on OS X:

    $ grunt test-csharp
    Running "shell:csharpCompile" (shell) task
        Configuration: Release Platform: AnyCPU
    Configuration: Release Platform: AnyCPU
    LayoutEngineTest.cs(2127,21): warning CS0219: The variable `node_1' is assigned but its value is never used
    LayoutEngineTest.cs(2162,21)

[2016-04-12 02:38] sahrens commented on #168
Is this still an issue? Seems like you might need to use flex wrap to get what you want. cc @vjeux, @lucasr

[2016-04-25 09:50] neophob opened #184 "Option to support only rounded values"
I would like to support an option that the calculated values support only rounded value, e.g. instead "206.5" returned "207".

[2016-04-27 22:05] rigdern commented on #183
I figured out the problem. The version of `nunit-console` that came with [Mono](http://www.mono-project.com/download/) is `2.4.8`. Versions `2.4.x` contain a bug due to a hardcoded Windows-style directory separator when parsing .csproj files. For more details see http://stackoverflow.com/questions/33828340/running-tests-on-mac-os-x-console-using-mono-nunit-console-4/33828786#33828786.

I worked ar

[2016-04-27 22:05] #183 closed

[2016-05-12 09:31] alexdrone commented on #158
This repo contains a wrapper for swift.
https://github.com/alexdrone/FlexboxLayout

[2016-05-12 10:44] ColinEberhardt commented on #158
@alexdrone - so that is a wrapper around the C implementation rather than transpiling the code into native Swift?

[2016-05-12 10:47] alexdrone commented on #158
Yes exactly.. interoperability between C and swift is really great, and you can simply wrap the C structs and funcs with swift ones.
Have a look at https://github.com/alexdrone/FlexboxLayout/blob/master/FlexboxLayout/Layout.swift

[2016-05-18 19:12] rozele opened #188 "Publish a new NuGet package for C# code"
Hey, we take a dependency on this repository for React Native for Windows.  Somebody released a package on NuGet: http://www.nuget.org/packages/Facebook.CSSLayout.  Any thoughts on having a Facebook managed NuGet package?

[2016-05-18 19:14] rozele opened #189 "Publish a new NuGet package for C# code"
Hey, we take a dependency on this repository for React Native for Windows.  Somebody released a package on NuGet: http://www.nuget.org/packages/Facebook.CSSLayout.  Any thoughts on having a Facebook managed NuGet package?

[2016-05-18 19:14] rozele commented on #189
Whoops, double posted.

[2016-05-18 19:14] #189 closed

[2016-05-18 19:16] vjeux commented on #188
cc @pragmatrix who setup the package. I'd be happy to use it as the official one.

[2016-05-18 21:55] rozele commented on #188
Wasn't sure if @pragmatrix 's package had forked behavior, but if not, then I'm happy with anyone publishing the package!

[2016-05-18 21:58] vjeux commented on #188
@pragmatrix built the C# support :)

[2016-05-18 22:06] rozele commented on #188
:+1:

[2016-05-19 07:19] pragmatrix commented on #188
Hi, I've released the FaceBook.CSSLayout package on NuGet, it has no forked behavior. And I am happy to transfer it over to facebook or publish it directly. I'd suggest to align the NuGet packages with the github releases made by @ColinEberhardt (the last one was in November 2015).

@ColinEberhardt Can we release the current master as a new, "official" release, probably with a significant higher v

[2016-05-19 07:42] ColinEberhardt commented on #188
Good idea @pragmatrix - the project really needs a new release. There are two problems with the process right now:

 1. The release process is manual, although only 4 steps (https://github.com/facebook/css-layout/blob/master/dist/README.md)
 2. The release process is not automatic, i.e. someone has to decide it is time to create a release.

An alternative solution I've started using on a few other

[2016-05-23 15:23] rozele commented on #188
@pragmatrix would be great to get a 2.x NuGet package, definitely have been breaking changes since November release.

[2016-05-23 16:29] pragmatrix commented on #188
I've published a "prerelease" package with the version number 2.0.0-pre to NuGet: https://www.nuget.org/packages/Facebook.CSSLayout/2.0.0-pre and will do further prereleases when important changes happen in the master branch and as long the release process is not defined.

[2016-05-23 19:59] rozele commented on #188
Awesome!  Thanks @pragmatrix.

[2016-05-23 19:59] #188 closed

[2016-05-25 20:06] vjeux commented on #184
See https://github.com/facebook/react-native/blob/fe5c0d2d0696b4fc5cdd65f1f2198c4f4363e543/React/Views/RCTShadowView.m#L95-L161 for how it is done in React Native in order to not suffer from precision loss.

[2016-05-26 20:56] gethinw opened #190 "RTL layouts do not render correctly after 1st render"
When rendering layouts with `direction: 'rtl'` they render correctly the first time, but if the node is rendered again then it may be rendered incorrectly in some circumstances, particularly content centered in a flex box.

Have recreated in a test case, and identified fix, will open PR.

[2016-06-15 22:50] MengjueW opened #197 "Problems of Layout.c to support RTL"
Problems of Layout.c to support RTL
------------------------------------------------------------------
I am using a Mac with the latest version of Reactive Native which is also the latest version of Layout.c and testing the RTL on a iOS simulator.

Here are two problems I found if I use RTL for an React Native app.

- [ ] Position absolute
The position calculation of views with **position absolute

[2016-06-15 22:53] emilsjolander commented on #197
Absolute positioning for css-layout is something we currently do not support but do want to support. I'll be working on this next week.

[2016-06-16 07:21] pavlelekic commented on #147
+1, this would really solve the problem with ListViews in grid mode, currently there is no good solution and I think grids are important for a lot of apps

[2016-06-20 23:57] awendland opened #198 "margin: auto w/ flex elements"
As mentioned in PR #185, the current implementation does not allow for `margin` to be set to `auto`. It would be great to have this support to open the possibilities of much more complex flex based layouts which can handle variable screen sizes and child content sizes.

Is this portion of the spec on the roadmap for implementation? Or is it considered outside of desired compliance because it would

[2016-06-21 10:33] emilsjolander commented on #198
For now it has been considered outside of the scope we want to handle. However I'm open to convincing arguments for why it would be useful. We have yet to need to make use of it. Could you provide one or more concrete examples of where it would enable a layout which is hard / impossible within the current api?

[2016-06-21 18:49] awendland commented on #198
Our use case no longer needs `margin: auto`. Thanks for the fast response!

[2016-06-21 18:49] #198 closed

[2016-06-22 20:15] n1ru4l commented on #147
I did it this way, by using a template string (react):
[code]

[2016-06-28 07:37] pavlelekic commented on #147
@n1ru4l that is react for the web, I was talking about react native. In react for the web you don't need this repo at all

[2016-07-05 03:34] molon opened #201 "Measure block should be told the constraint size after clamping with min/max dimensions"
Thanks for the great library first.

css-layout call the measure block first https://github.com/facebook/css-layout/blob/6e05325f08207f624f5e2ef14c9301f6a6538bf8/src/Layout.c#L672-L709 and processing with `boundAxis` method second.

It lead us to have to clamp the constraint size with min/max dimensions ourself when we create a measure block.

Sorry, poor english lead to unclear expression.
Here i

[2016-07-17 11:52] abhishekmedipta opened #208 "Facebook>Chat panel"
There is a bug in facebook in chat, there is a chat panel in right side of facebook page, when there are lots of people are online and that time, if we scroll the scroll bar, then last user are not showing properly.

see the attachment..

![screenshot 100](https://cloud.githubusercontent.com/assets/16331239/14066344/a7891240-f464-11e5-9fe5-056cfe4a8257.png)

![screenshot 100 _3](https://cloud.gith

[2016-07-17 14:44] emilsjolander commented on #208
Please keep this project's issues related to the project. While we appreciate bug reports regarding facebook this is not the correct forum for them. Thank you.

[2016-07-17 14:44] #208 closed

[2016-07-18 07:30] abhishekmedipta commented on #208
@emilsjolander So can u please tell me correct forum...

[2016-07-18 13:26] emilsjolander commented on #208
https://www.facebook.com/help/326603310765065

[2016-07-20 04:04] hustwcw opened #209 "Why the default flex-direction is CSS_FLEX_DIRECTION_COLUMN"
https://developer.mozilla.org/en-US/docs/Web/CSS/flex-direction
In this mozilla specification, the initial value for flex-direction should be "row". Why the implementation in css-layout is "column" in init_css_node function?

[2016-07-20 11:02] emilsjolander commented on #209
While we try to stick to the specification in most cases, especially when it comes to the implementation of the algorithm we have chosen to change the default values to values we thought were more sensible / common when developing mobile UIs. I see a future where we might have two init_css_node functions. One with the defaults specified in the w3c specification and one with the default we have fou

[2016-07-20 14:58] #209 closed

[2016-07-26 03:05] ide opened #210 "Namespace non-static symbols with `CSS`"
This is mostly in place, but a couple of functions like `isUndefined` aren't prefixed with `CSS`. Would you accept a PR that adds the `CSS` prefix to the few symbols that don't already have it?

[2016-07-26 08:18] emilsjolander commented on #210
I would! thanks

[2016-08-04 13:27] hustwcw opened #213 "Why css-layout don't support percent value for 'width' and 'height' property?"

[2016-08-04 13:33] emilsjolander commented on #213
Percentage width/height may cause multi-pass layouts which are quite expensive and we have not felt a strong need for it. If you were to submit a pull request I would be happy to add support for this though.

[2016-08-05 08:45] #213 closed

[2016-08-05 13:37] #210 closed

[2016-08-11 19:23] #197 closed

[2016-08-11 19:25] #168 closed

[2016-08-11 19:26] emilsjolander commented on #158
closing this. I'm happy to accept a pull request for C bindings to swift though :)

[2016-08-11 19:26] #158 closed

[2016-08-11 19:28] emilsjolander commented on #142
Build process has changed so closing this. C# version will be integrated into buck build process as well.

[2016-08-11 19:28] #142 closed

[2016-08-11 19:29] emilsjolander commented on #133
This library is meant to replicate the flexbox subsystem of css. We don't plan on supporting other layout models such as tables or styling such as background.

[2016-08-11 19:29] #133 closed

[2016-08-11 19:29] #120 closed

[2016-08-11 19:31] ColinEberhardt commented on #142
Cool, I did notice that some big changes were on their way.

Can I just check, will the new build still wanted regular releases to npm? My project, and a number of others, depend on this!

[2016-08-11 19:31] emilsjolander commented on #120
This is still possible by using the JS version from the deprecated branch. Moving forward css-layout will focus on native code as that is where we have seen most usage.

[2016-08-11 19:31] #98 closed

[2016-08-11 19:31] #97 closed

[2016-08-11 19:32] emilsjolander commented on #63
The measure function does exist on the node and not the style now. Closing this.

[2016-08-11 19:32] #63 closed

[2016-08-11 19:34] emilsjolander commented on #93
Closing this. I'm happy to merge a pull request that implements % based width / height. I don't think it should be limited to the cross axis if implemented though and instead work like it does on the web. This has some perf concerns though.

[2016-08-11 19:34] #93 closed

[2016-08-11 19:35] emilsjolander commented on #64
Js version is gone, closing this.

[2016-08-11 19:35] #64 closed

[2016-08-11 19:36] #160 closed

[2016-08-11 19:39] emilsjolander commented on #165
Closing this. Feel free to submit a pull request with the port based on the latest master. I'm not sure we want to support it in the main repo due to maintenance costs but i'm open to it if there is a strong Haxe community that would like to use css-layout.

[2016-08-11 19:39] #165 closed

[2016-08-11 19:50] emilsjolander commented on #142
If the community wants native binaries through npm then that is definitely something we will look into continuing to do. The JS version has been removed though. The reason behind removing the JS version was that it was not used internally and the web supports flexbox very well nowadays. css-layout targets native platforms so it makes more sense that the source of truth be C.

[2016-08-11 20:18] emilsjolander commented on #147
Percentage sizes is something we would like to support but have not spent any real time on implementing due to not having a strong need for it. There are certain performance concerns regarding supporting the feature but I would be happy to work with the community to support this. As @vjeux said this is a great opportunity to have big impact by submitting a pull request. We are not currently priori

[2016-08-11 20:19] emilsjolander commented on #143
css-layout supports android, ios and windows.

[2016-08-11 20:19] #143 closed

[2016-08-11 20:21] emilsjolander commented on #132
Baseline support is definitely something which would be great if we could support. We are not actively working on this but I would be happy to work with you or anyone else in the community on a pull request implementing it.

[2016-08-11 20:21] #100 closed

[2016-08-11 20:42] emilsjolander commented on #177
This works as expected now

[2016-08-11 20:42] #177 closed

[2016-08-11 20:46] emilsjolander commented on #173
Works as expected now.

[2016-08-11 20:46] #173 closed

[2016-08-11 21:29] ColinEberhardt commented on #142
Actually it isn't the native binaries that I was wanting to have distributed through npm, it's the JavaScript code. While the web supports flex box, there are still a number of interesting / novel uses for this JavaScript implementation.

For example, we use it within [d3fc](http://d3fc.io) to bring flex box to SVG, as described in [this blog post](http://blog.scottlogic.com/2015/02/02/svg-layout-

[2016-08-11 21:34] emilsjolander commented on #142
Yeah I don't see a great reason to remove what is already on npm :) It
would be interesting to look into using emscripten to generate a js version
from the c code for use in these kinds of projects. Nothing I am
prioritizing but I would definitely be interested in seeing a pull request
for that if you would find that useful :)
On Thu, 11 Aug 2016 at 22:29, Colin Eberhardt <notifications@github.com

[2016-08-12 09:59] emilsjolander commented on #167
alignContent is being exposed. Regarding flex we currently only support a simplified flex model. We plan to expand this to support flex-grow, flex-shrink, and flex-basis as separate properties.

[2016-08-12 09:59] #167 closed

[2016-08-12 10:25] emilsjolander commented on #176
Landing as we speak.

[2016-08-12 10:25] #176 closed

[2016-08-18 06:31] queequac opened #215 "JavaScript variant planned?"
Just some question: In the past css-layout was written in JavaScript and transpiled to C.
Now C seems to be the primary language the library is written in.

Are there any plans to do the same vice-versa again, transpiling this time to JavaScript?
Otherwise I am stuck to the deprecated version, while it was the big advantange of css-layout having really identical behavior in both languages.

[2016-08-18 08:42] emilsjolander commented on #215
Let me start with some backstory on the change. The js version was not used by us internally and working with the regex transpilation process slowed us down. The libraries focus was to bring flexbox to mobile and in reaching that goal js is not important. That said I know of many reasons why a js version is important and would be useful so if we could solve that with little to no development overh

[2016-08-18 08:42] #215 closed

[2016-08-20 13:53] fab1an opened #216 "Collapsing margins"
Will this layout support collapsing margins, like described here: https://css-tricks.com/what-you-should-know-about-collapsing-margins/?

[2016-08-21 11:43] emilsjolander commented on #216
Interesting, I didn't know about this! I don't foresee css-layout supporting this though as collapsing margins don't seem to be part of the flexbox display model. You can try it yourself by editing the sample in the link you posted to use `display: flex` on the body and divs. Now margin stacks instead of collapses.

This library does not try to implement all of css but instead we focus on implemen

[2016-08-21 11:43] #216 closed

[2016-09-16 19:01] mpodwysocki opened #219 "Adding .NET support"
Currently working on the .NET Support for the CSSLayout in the ReactWindows org on the [dotnet branch](https://github.com/ReactWindows/css-layout/tree/dotnet).  Feedback welcome!

[2016-09-16 21:50] browniefed commented on #219
Didn't the C# version get added at some point, https://github.com/facebook/css-layout/pull/129?
(I vaguely follow css-layout was just curious)

[2016-09-17 11:28] emilsjolander commented on #219
Thank you so much, this is awesome! Could you open this as a pull-request instead of an issue? It makes it much easier to see what was added/removed/changed :)

@browniefed It was temporarily removed during the current re-structuring to use C as the source of truth language.

[2016-09-18 04:02] faceyspacey commented on #147
+1 ...obviously you can calculate everything in javascript or hack flexbox, and i've done both many times for simple scenarios, but I've recently run into some situations where the amount of calculation I had to do was way too high compared to how easy it is on web.

In addition, *React Native Web* supports it, so it would bring parity with RNW which is rapidly increasing in popularity, and someth

[2016-09-23 15:50] #219 closed

[2016-09-23 18:04] mattpodwysocki opened #222 "CalculateLayout no longer requires CSSLayoutContext"
Since the native layer through JNI and P/Invoke do not use the `CSSLayoutContext`, should we get rid of that parameter at least in the C# version, if not the Java version as well?

[2016-09-27 11:37] #222 closed

[2016-09-30 11:29] emilsjolander commented on #152
rnplay link no longer works. This issue is pretty old and A lot of code has changed since then. Please re-open if this is still an issue and include a new repro.

[2016-09-30 11:29] #152 closed

[2016-10-13 09:16] jordwalke opened #227 "Chrome vs. Safari compatibility for flex-wrap:wrap"
Here's one of the test cases. Note that there is no width.

[code]

When I run this on chrome, the total width ends up being `30px`. When I run it in Safari, it ends up occupying whatever width is available (the document.body width).

When I run the layout algorithm, the total width ends up being 60. That is also what the test case ensures:
https://github.com/facebook/css-layout/blob/1f300a58fb263

[2016-10-13 10:39] emilsjolander commented on #227
There is a comment in the top of this file describing this problem.

[2016-10-13 10:39] #227 closed

[2016-10-13 18:55] Bobris opened #228 "Question about reasons to deprecate pure Java version?"
JNI version is faster? Or it was just too big burden to maintain? Is there possibility to resurrect its development in future?

[2016-10-13 19:07] emilsjolander commented on #228
JNI version is significantly faster and maintaining two copies of the algorithm was painful and led to slowed development speed. Java is still fully supported and a major use case of css-layout just from now on it should be used via the JNI wrapper provided. If you have any problems using it via JNI please file a separate issue and I'll make sure to help to the best of my ability 👍

[2016-10-13 19:07] #228 closed

[2016-10-17 07:24] hpop1994 opened #229 "align-content does't support space-between and space-around"

[2016-10-17 21:48] jordwalke commented on #227
Ah, sorry I missed that.

[2016-10-21 14:46] roxlu opened #230 "Maximum width not respected"
I'm using css-layout to layout a gui with this hierarchy: main > container > button.  The `main` node is 1280x720 pix. The container gets a max-width of 400.  When I set the flex direction of the container to `column`, then the max-width is taken into account and the button becomes 400  wide.  When I set the flex direction of the container to `row` it seems like the max-width is ignored and the bu

[2016-10-21 14:58] emilsjolander commented on #230
Can you please post a jsfiddle repro? We try to be consistent with the web so if this is working one way on the web and a different way in css-layout it is most likely a bug. Please use http://jsfiddle.net/y11txxv9/245/ as a base because it is set up with the same default values used in css-layout.

[2016-10-21 15:08] roxlu commented on #230
@emilsjolander I've created this: http://jsfiddle.net/roxlu/y11txxv9/246/

[2016-10-21 15:51] emilsjolander commented on #230
@roxlu thanks. I'll look into this

[2016-10-24 21:20] splhack opened #232 "[C#] master is now broken"
I'm working on it, to fix build issue and finalizer issue.

[2016-10-25 14:52] #232 closed

[2016-10-26 07:44] anql opened #234 "about align-self property"
### code snippets:
[code]

### output:
[code]

### issue:
why root_child0 ' s height is 0 ?

[2016-10-26 09:03] emilsjolander commented on #234
because root_child0 does not have any height set on it and it doesn't have any children either so it have no size in the height dimension.

[2016-10-26 09:03] #234 closed

[2016-10-26 09:07] anql commented on #234
but why root_child1' height is 100?

[2016-10-26 09:11] emilsjolander commented on #234
The default alignment is `align-stretch` in css-layout which means `root_child1` will stretch to the height of it's parent :)

[2016-10-28 12:02] wildthink opened #235 "Add CF_SWIFT_NAME and NS_ENUM macro"
Adding the CF_SWIFT_NAME and NS_ENUM macros would provide a clean Swift interface out-of-the-box. Would you add this to the main project if it was available?

`Color ColorCreateWithCMYK(float c, float m, float y, float k)
          CF_SWIFT_NAME(Color.init(c:m:y:k:));`

Refs:
https://developer.apple.com/library/content/documentation/Swift/Conceptual/BuildingCocoaApps/InteractingWithCAPIs.html

[2016-10-28 12:16] emilsjolander commented on #235
Yes please! Can you submit a pull request?

[2016-10-29 14:02] singno opened #236 "css_applyLayout crack"
![image](https://cloud.githubusercontent.com/assets/5654690/19830092/4c5b62f6-9e23-11e6-8c0b-d2604274a040.png)

![image](https://cloud.githubusercontent.com/assets/5654690/19830096/5b87c080-9e23-11e6-8827-969271633d7e.png)

[2016-10-29 21:21] emilsjolander commented on #236
@dshahidehpour Can you take a look?

[2016-10-30 19:04] gimenete commented on #236
It fails because `node->children` is NULL. The problem seems to have been introduced here https://github.com/facebook/css-layout/commit/01c2ac3369b6e403e5f7a24b91a01b7bb792eed7?diff=unified#diff-937e78d20ebabc2f92fe6f07dc70d4a3L198

Using `node->children = CSSNodeListNew(4);` in `CSSNodeInit` works for me but it's not the optimal solution.

[2016-10-31 14:21] dshahidehpour commented on #236
Thanks for spotting! I'm adding a fix right now.

[2016-10-31 20:19] dshahidehpour commented on #236
Just landed a fix with #ced779b25966448feb9bd792efedd29dfa6ab9e0

[2016-11-01 03:52] anql opened #238 "can't recognize 'inline' keyword in Microsoft Visual Studio 2013"
can't recognize 'inline' keyword in Microsoft Visual Studio 2013

CSSLayout.c

[code]

I must add #define before this
[code]

[2016-11-01 13:14] anql commented on #54
https://github.com/facebook/css-layout/blob/master/src/Layout-test-utils.js#L321-L351
[code]

[2016-11-01 21:09] emilsjolander commented on #238
oh wow, that was unexpected. Can you open a pull request?

[2016-11-03 11:04] gimenete commented on #236
It works! Thanks :)

[2016-11-03 11:06] gimenete opened #240 "Releases / semver"
Hi,

I'm going to use this library in a new project and I'm wondering if there's any plan to release versions of it using semver versioning, so we are aware of possible breaking changes, or determine if a version si stable or not.

Thanks,

[2016-11-03 15:58] roxlu opened #241 "Feature: possibility to hide nodes"
I know this is currently by design, but it would be great if we could hide / show nodes. Any roadmap on this? Maybe we can have a chat and I can implement this?

[2016-11-03 16:22] emilsjolander commented on #240
The master branch will almost always be stable in terms of not crashing, compiling etc. However the API might not be (in practice though it almost never changes). We have plans to introduce versioning soon though!

[2016-11-03 16:24] roxlu commented on #241
Hey @emilsjolander yes removing would be a solution though probably less convenient that toggling the visiblity. My use case is a GUI that uses CssLayout where you often have things that you want to show/hide: for example selectboxes, menus, popups etc.  Adding/removing a node dynamically (and making sure the order stays the same) means quite some extra bookkeeping compared to having a visibility

[2016-11-03 16:28] emilsjolander commented on #241
I have concerns about adding things which are not needed as it bloats the API. That said I think you have made a good point regarding keeping ordering and the bookkeeping needed for that. Adding visibility to cssnode would make sense. It would be great if you can implement this as then you can also test that it works for your situation 👍 All that should be required is to skip invisible children wh

[2016-11-03 16:29] roxlu commented on #241
(Y) awesome, I'll look into this.

[2016-11-03 16:30] emilsjolander commented on #241
Thanks!

[2016-11-03 16:56] woehrl01 commented on #241
Not sure if this is a great feature as in pure css ```visibility: hidden``` still takes the space. The same for ```UIView``` on iOS.

[2016-11-03 19:43] roxlu commented on #241
@emilsjolander are you on irc or skype?

[2016-11-03 21:24] gimenete commented on #240
Good to know about the stability of the `master` branch. And glad to hear that you have plans to introduce versioning.

Feel free to close the issue or keep it open until you introduce versioning.

Thanks!

[2016-11-04 09:28] HendrixString opened #242 "a question"
hi,

why is `layoutNodeImpl(...)` also implemented in the java library ?
as there is also the c++ implementation.

[2016-11-05 23:08] emilsjolander commented on #242
This is deprecated and we are slowly moving over to only using the C version via JNI. It will be removed soon.

[2016-11-05 23:08] #242 closed

[2016-11-05 23:08] #240 closed

[2016-11-08 04:08] #238 closed

[2016-11-08 04:11] anql commented on #238
DONE-Add inline definition for Microsoft Visual Studio

[2016-11-08 10:41] anql opened #243 "CSSNodeSetIsTextnode bug"
# code
[code]

## case CSSNodeStyleSetFlexDirection(root, CSSFlexDirectionRow) :
[code]
label_child1:  width: 50, height: 100
label_child2:  width: 50, height: 100
### I think it's right because both child node have set 'flex-grow' as 1.
## case CSSNodeStyleSetFlexDirection(root, CSSFlexDirectionColumn):
[code]
label_child1:  width: 100, height: 16
label_child2:  width: 100, height: 16

### May be

[2016-11-08 10:58] emilsjolander commented on #243
Agreed. This seems odd. Let me look into this

[2016-11-08 11:03] emilsjolander commented on #243
Actually this is a bug with CSSNodeSetIsTextnode

[2016-11-08 11:04] emilsjolander commented on #243
I'll probably just remove this api for now as is practice it has not been useful in avoiding measurements.

[2016-11-08 11:11] emilsjolander commented on #243
Thanks for the very thorough bug report btw. Helped a bunch in being able to quickly repro!

[2016-11-08 11:23] emilsjolander commented on #241
@roxlu totally missed this sorry. Feel free to hit my up on fb messenger (m.me/sjolander.emil)

[2016-11-08 11:25] emilsjolander commented on #241
@woehrl01 I agree, using `visible` could be very confusing

[2016-11-08 11:26] #190 closed

[2016-11-08 11:44] anql commented on #243
Thanks a lot , it works fine after remove CSSNodeSetIsTextnode. 👍

[2016-11-08 17:53] #230 closed

[2016-11-08 23:45] yunxing opened #244 "Clear ownership of an object"
Discussed with @emilsjolander offline. The suggest ownership of an object should always be the creator of the object. However, `CSSNodeFreeRecursive` somehow broke this by assuming the ownership of the children are now to the tree itself. This confusion can very easily lead to memory leaks like in https://github.com/facebook/css-layout/blob/e00e30ca150b3212457bac3e4efd9e22383001ad/tests/CSSLayoutD

[2016-11-08 23:45] yunxing commented on #244
cc @emilsjolander @jordwalke

[2016-11-09 01:52] #243 closed

[2016-11-09 01:59] anql commented on #243
Remove isTextNode optimization @1baa239389ca3943ea952d493163b13e39a74d8c

[2016-11-09 05:12] anql opened #245 "about absolute position"
<img width="633" alt="2016-11-09 1 09 29" src="https://cloud.githubusercontent.com/assets/6122573/20127815/c8219e98-a67d-11e6-85a0-1024c84a1298.png">

# code
[code]
## Print Tree
[code]
label_child1: top:10, left:10
label_child2: top:120, left:120

I think label_child2 's left & top both should be 110.

[2016-11-09 09:20] emilsjolander commented on #244
`CSSNodeFreeRecursive` should be seen as a convenience function, it does not in any way indicate ownership of a node is the tree itself. The creator of the node is responsible of freeing the node, in this case if the creator of the node is the same as creator of the whole tree (often times in tests for example) then `CSSNodeFreeRecursive` is a convenience over calling `CSSNodeFree` on all nodes in

[2016-11-09 09:23] emilsjolander commented on #245
Yeah it seems that absolute positioned items aren't correctly respecting border. Can you add a jsfiddle repro? http://jsfiddle.net/s8ksdpre/1/

[2016-11-09 10:30] anql commented on #245
OK , my partner will try doing this.

[2016-11-09 12:26] anql commented on #245
http://jsfiddle.net/s8ksdpre/2/

[2016-11-09 19:52] #245 closed

[2016-11-10 02:16] anql commented on #245
@emilsjolander  Awesome! 💯

[2016-11-10 23:22] yunxing commented on #244
@emilsjolander That makes sense now, thanks!

[2016-11-10 23:22] #244 closed

[2016-11-13 19:28] jimon opened #247 "Ability to overload malloc/calloc in C code"
Well, I could complain a lot about others stuff that got removed from older css-layout.h version :) but whatever :)

In gamedev usually people tend not to use malloc/calloc/heap_in_general, so ability to overload them with user provided callbacks is crucial for better consistency.

[2016-11-13 20:56] jimon opened #248 "Would be nice to have CSSNodeGetParent"
Just so we can traverse node tree more efficiently.

[2016-11-13 21:04] emilsjolander commented on #248
Yeah that sounds good! I'm happy to accept a pull request adding thing

[2016-11-16 04:22] #247 closed

[2016-11-16 18:23] JoelMarcey opened #250 "Test Issue"

[2016-11-16 18:35] #250 closed

[2016-11-17 16:01] #236 closed

[2016-11-18 10:57] woehrl01 commented on #184
I didn't have great success in using the code vom React Native.

I'm trying to move to the current code base.

I have added some rounding code to our own code some months ago (old code base).
Do you mind adding a flag (as "experimental feature" is now added). To have rounding code inside css-layout?

This is the changes I added to support rounding to full numbers and distribute the remaining space

[2016-11-18 11:01] emilsjolander commented on #184
Thanks @woehrl01 I'm interested in pursuing this but don't have the time currently. If you submit a pull request i'm more than happy to have a look.

[2016-11-18 11:15] woehrl01 commented on #184
@emilsjolander yeah, I would provide a PR. Just want to ask in front, if there is a veto against ;)

[2016-11-18 11:27] emilsjolander commented on #184
@woehrl01 Nope! I really want this feature. I might have objections and questions to the exact implementation and I expect it may take a bit to review but the core concept is good. Looking forward to your contributions 👍

[2016-11-18 16:12] woehrl01 commented on #184
Just had a look at the new layout code, I forgot that it that it changed fundamentaly due to the more W3C compliant implementation 😆 . Give me a few days, until I can dig a little deeper to find the necessary spots. :wink:

[2016-11-21 22:52] woehrl01 commented on #147
I started to add percentage support to my branch: https://github.com/woehrl01/css-layout/tree/percentage-feature. Can someone have a look if we want to go this direction? @emilsjolander

[2016-11-21 22:56] emilsjolander commented on #147
@woehrl01 Cool! Yeah this looks to be going in the correct direction. I'm a bit concerned about perf and there are a lot more tests to be added.

[2016-11-21 23:03] woehrl01 commented on #147
@emilsjolander for sure there are a lot of things which can be tuned. And the tests aren't totally enough.  Just wanted to make a sneak preview to consider your opinions.

[2016-11-21 23:05] emilsjolander commented on #147
@woehrl01 Yeah, thanks! looking good

[2016-11-25 03:46] molon opened #260 "CocoaPods support"
I wrote a Objective-C wrapper named `MLLayout` depend on `css-layout`.
But following up on this library's update is inconvenient.
Can you consider adding CocoaPods support with the C implement?
:)

[2016-11-25 18:00] woehrl01 opened #261 "Combination of flex-shrink, flex-grow, flex-basis and min-width with wrap is not working as expected"
To following is not rendered as expected:

[code]

failing test output:
[code]

[2016-11-29 09:41] sospedra commented on #147
+1

[2016-11-30 14:30] jayshah123 opened #264 "position: fixed support, want to make a view fullscreen."
For support of position: "fixed" in css-layout,

Use case : I have (many) videoView deeply nested in view hierarchy - think list of videos, any one of which I want to make fullscreen.

Current approach (hack) : make videoview as big as screen(fixed values for height width in css style), track videoview's parent layout position and give negative margins to videview to show it properly.

Desired app

[2016-11-30 14:36] emilsjolander commented on #264
For product questions like this please ask them on stack overflow with the react native tag.

[2016-11-30 14:55] jayshah123 commented on #264
http://stackoverflow.com/questions/40891450/react-native-flexbox-css-layout-position-fixed-support

[2016-12-01 10:14] roxlu commented on #241
@emilsjolander I did some experimenting and I think it's almost working. There is only one issue that needs to be solved: when you hide a node before calling layout() it will never be shown again. When you hide after calling layout() it works as expected.

I've pasted some test code using my fork: https://gist.github.com/roxlu/5d489941de7956c808823f85fd71ab49

It seems that things are cached. @emi

[2016-12-01 10:18] emilsjolander commented on #241
@roxlu I would suggest stepping through the code with a debugger and figuring out why your hidden node is not being shown when hiding it before calling layout()

[2016-12-01 10:20] roxlu commented on #241
@emilsjolander thanks for your reply, but currently I don't have time to dive into the code. It would take me some time to be able to understand the code in detail. Though ... maybe you have some ideas where to look?

[2016-12-01 10:22] emilsjolander commented on #241
@roxlu If it is using cached measurements you can have a look at the `CSSNodeCanUseCachedMeasurement` function. Perhaps make it always return `false` to see if this is the problem.

[2016-12-01 10:43] roxlu commented on #241
@emilsjolander I just tested with a `CSSNodeCanUseCacheMeasurement` returning always false and this gives me these results: https://gist.github.com/roxlu/db899e390deda9e06445d2759a482fa1

Interestingly it seems that the version A and B works, but then at step C where I hide the first 5 items (see paste) it is still using the values after that were calculated at step B.

[2016-12-01 10:49] emilsjolander commented on #241
Sounds like you may just not be reseting the nodes output in between
On Thu, 1 Dec 2016 at 10:43, @roxlu <notifications@github.com> wrote:

[2016-12-01 10:56] roxlu commented on #241
I've set gPrintTree / gPrintChanges to true, it that what you mean?

[2016-12-01 11:00] roxlu commented on #241
@emilsjolander Do I need to make a parent as dirty when one of it's children changes visibility? Maybe the root not (and so all children) is just skipped when I only mark a child as dirty (?).

[2016-12-01 11:02] emilsjolander commented on #241
Yes you do, the dirty marking function does this for you though
On Thu, 1 Dec 2016 at 11:00, @roxlu <notifications@github.com> wrote:

[2016-12-01 11:11] emilsjolander commented on #241
What I meant by not reseting nodes is that perhaps the nodes are just skipped over in the last pass (as expected) so that their layout outputs (width/height/x/y) are never reset and they just keep the ones from before. I don't have time now to dig down into your code :/

[2016-12-01 11:14] roxlu commented on #241
It's okay if the width/height/x/y stay the same as before when hiding a element. It seems that the issue is related to the dirty flag. When I call `CSSNodeHide()` or `CSSNodeShow()`  on a child, the parent is not marked as dirty.  [See here for these functions](https://github.com/roxlu/css-layout/blob/feature-hidden-nodes/CSSLayout/CSSLayout.c#L292).

[2016-12-01 11:17] emilsjolander commented on #241
Look at the definition of `_CSSNodeMarkDirty`, it's a recursive function calling up to the parent so I don't this this is your issue.

[2016-12-01 11:21] roxlu commented on #241
I agree :) that it seems wrong that it's the dirty flag.  I'm printing out the condition results in `layoutNodeInternal()` that set the `needToVisitNode`, this is what I get:

[code]

And the code I'm using for this:

[code]

When looking at `gCurrentGenerationCount` it makes me wonder if this could be caused by multiple "root" instances?

[2016-12-01 11:24] emilsjolander commented on #241
@roxlu No idea. As I said, step through the code (mainly where you made additions and it does cache / dirty checks) and see what is going on. Try it on the most minimal tree to make it easier.

[2016-12-01 11:26] roxlu commented on #241
"step through the code" would be okay if I knew the internals and I had time to learn the codebase which I don't have atm. I'll revisit this issue again when I've got some more time or when it's a bit on your radar too.

[2016-12-01 11:29] kkga commented on #198
`margin: auto` behavior for flex items is quite useful in various cases: basically it's the only way to manipulate placement of a flex item along the main flex axis.

Here's a very basic example: https://jsbin.com/jajamus/edit?html,css,output

More on this here: https://medium.com/@samserif/flexbox-s-best-kept-secret-bd3d892826b6#.wrp6m8bwx

[2016-12-01 12:08] roxlu commented on #241
@emilsjolander maybe I found what was causing it, but please tell me if this sounds reasonable. I noticed that in `_CSSNodeMarkDirty()` you only traverse upwards when the given node is not dirty. I guess this `isDirty` is set to false somewhere; but this 'somewhere' is not doing that because the node was hidden.  I can fix this by settings `node->isDirty = false` before calling `_CSSNodeMarkDirty(

[2016-12-01 15:28] woehrl01 commented on #241
@roxlu you need to mark the layout as seen (```isDirty = false```), even so you skip the child.

[here](https://github.com/roxlu/css-layout/blob/38ae7ea4ec31faa9582e452ad32818687a32743e/CSSLayout/CSSLayout.c#L1370) and [here](https://github.com/roxlu/css-layout/blob/38ae7ea4ec31faa9582e452ad32818687a32743e/CSSLayout/CSSLayout.c#L1443).

[2016-12-01 15:34] woehrl01 commented on #241
@roxlu furthermore, I'd suggest changing boolean ```isVisible``` to an enum ```display```. With ```flex``` and ```none```  as values, where ```flex``` is the default. So that it conforms more with the web.

e.g. ```CSSNodeStyleSetDisplay(node, CSSDisplayFlex)``` and ```CSSNodeStyleSetDisplay(node, CSSDisplayNone)```

This would simplify test generation.

[2016-12-01 16:01] emilsjolander commented on #241
@woehrl01 I like it

[2016-12-02 23:59] mokafolio commented on #147
@woehrl01 That looks good to me! Did you try running the benchmarks by any chance?

[2016-12-03 08:20] woehrl01 commented on #147
@mokafolio Have a look at #258 I posted some benchmark from my dev-machine. I was able to make it even slightly faster, by reducing the calls to ```isnan```. As I have currently no other device available I would be glad if someone could approve those values on slower devices (android/ios) and/or compiled with gcc. My values are produced with release + o2 + mvc++.

[2016-12-04 11:58] oded-regev commented on #130
Thanks, I'm sure it would help many developers to add short integration instructions for each platform...

[2016-12-04 12:29] oded-regev opened #265 "How to integrate CSS-Layout in an Android Studio project?"
This is such a basic question that I feel like I missed something. I tried to lean Buck by myself, and I did successfully build the java target. However, I couldn't find the jar artifacts..

It would be really helpful to have a short explanation on the steps required in order to integrate this project in an Android Studio project.

Thanks

[2016-12-04 12:44] oded-regev commented on #265
Update: in /java/BUCK file I changed the java_library rule from:
```name = 'java'``` to ```name = 'css-layout'```

And found the jar file in:
/buck-out/gen/java/lib__css-layout__output/css-layout.jar

Now when I run the java sample code I get the following exception:

12-04 14:43:11.811 18904-18904/com.outbrain.adfromserverparams D/Error: ERR: stack=java.lang.NoClassDefFoundError: Failed resolutio

[2016-12-04 13:06] emilsjolander commented on #265
Sorry there are currently no examples for setting this up with gradle. Best to do now is copy to needed files into your project. We might be able to make use of https://github.com/uber/okbuck for that. I'll make sure we look into this soon. Thanks!

[2016-12-04 13:59] oded-regev commented on #265
@emilsjolander thanks for the quick reply. It's not clear to me what are the needed files for Android? what files belong to ```SoLoader```?

Also, ```CSSNode``` is not a View, how can I integrate the CSS properties of ```CSSNode``` to an instance of ```TextView``` for example?

[2016-12-04 17:38] emilsjolander commented on #265
libs/soloader has the jar needed. No CSSNode is not a View. css-layout de-couples layout from Views to enable layout calculation on a separate thread 👍

[2016-12-05 06:41] yihuang opened #266 "Support center alignment with CSSPositionTypeAbsolute"
It would be quite useful to me if we support align center with ``CSSPositionTypeAbsolute``, with this we can mix flexbox and ``AutoresizingMask`` style layout.
If you are also interested in this, I've willing to implement this.

EDIT: I'm using css-layout in a ui system of 2d game engine, trying to replace old layout system with flexbox, for backward compatibility, I need to re-implement old syste

[2016-12-05 10:35] woehrl01 commented on #266
Small hint: With #258 I introduced CSSUnit which could be extended for ```auto```. So you could uses  ```margin-left: auto``` to center your elements.

[2016-12-05 11:04] emilsjolander commented on #266
@yihuang I'm pretty sure absolute positioned elements on the web cannot be centered so I'm skeptical on supporting it in this library. There is however a super simple work around you can do.

psuedo code:
[code]

@woehrl01 I would rather avoid supporting `margin-left: auto` for centering as it it a rather arcane concept from css. Better to have true alignment primitives.

[2016-12-05 11:04] #266 closed

[2016-12-05 11:38] woehrl01 commented on #266
@emilsjolander agree

[2016-12-06 02:51] jmmiracle opened #267 "how to set height with width?"
just want to use this method to fix img adaptation like height = width * 2?

[2016-12-06 07:09] yihuang commented on #267
You can set aspectRatio.

[2016-12-06 07:13] yihuang commented on #266
How about this, add two fields: ``center-left/center-top`` which means:
[code]

Which only has effect with absolute position type, when left/top is not specified.

[2016-12-06 10:41] emilsjolander commented on #267
set the width to a fixed value and the aspectRation to 2

[2016-12-06 10:41] #267 closed

[2016-12-06 10:45] emilsjolander commented on #266
For now you should be able to use the work around I provided, this should also be easy to wrap into some abstraction within your application. I would rather not add specific alignment properties for absolute layout although if it ends up being highly requested we can look into it again.

[2016-12-07 19:15] aaroncrespo opened #268 "Correct Code sample"
Obj-c code sample line #7 should probably be:

[code]

I can't submit a PR to update this since it uses private gists.

see https://gist.github.com/emilsjolander

[2016-12-07 19:20] emilsjolander commented on #268
Fixed. Thanks!

[2016-12-07 19:20] #268 closed

[2016-12-07 21:28] SirCmpwn opened #271 "How to build and install shared/static libs and headers?"
Kind of lost on how to produce libyogacore.{a,so} and install them, along with headers, to a given prefix. Is such a thing possible?

[2016-12-07 21:29] SirCmpwn opened #272 "Provide release signatures"
When you ship a release, can you sign it with PGP and include the signature?

[2016-12-07 21:34] SirCmpwn commented on #271
Update: figured out how to build a shared and static library, but not how to install them. Manually?

[2016-12-08 02:58] guidomb commented on #260
What about also adding support for [Carthage](https://github.com/Carthage/Carthage)? It shouldn't be that much of a hazard to add an Xcode project that builds a `.framework`

[2016-12-08 03:36] dhaligas opened #276 "Will this work with Xamarin?"
Can this be used with Xamarin iOS / Android?

[2016-12-08 04:38] splhack commented on #276
I haven't tested yoga with Xamarin.iOS and Android, but technically, Yes. With Mono on OS X works well, With Unity (Mono 2.x backend) on OS X, Windows and Android works well.

I've created a pull request for that (#277) since Native library should be statically linked for Xamarin.iOS.

[2016-12-08 06:20] dhaligas commented on #276
@splhack awesome how about Xamarin.Android?  I would love to see an example as well on both platforms on how to use it.

[2016-12-08 17:57] jimon opened #279 "Simple layout string parser"
More RFC (request-for-comments) than actual issue. Back in the day I was doing a small css parser for older css-layout - https://github.com/jimon/css-micro-parser The main feature was that instead of doing 100500 calls to set node properties you just do something like `SetNodeStyle(node, "right:20; align-self:center;")` and that's it, in some cases it improves readability of code a lot, in some ca

[2016-12-08 22:23] roxlu opened #281 "YGNodeChildCount unresolved external symbol with MSVC2015"
YGNodeChildCount is defined with inline. Shouldn't this be moved to Yoga.h? With the inline keyword it will result in a unresolved external symbol error on Windows MSVC2015.

[2016-12-13 10:02] michaelcpuckett commented on #147
+1

[2016-12-15 06:30] randomstrings opened #284 "Use with UIScrollview in iOS"
Just curious how one would go about using Yoga to size a content view larger than the bounds of a UIScrollView in iOS. Adding a content view as a subview to a UIScrollView (both with yg_usesYoga == true) and then calling yg_applyLayout on the UIScrollView seems to size the content view (which needs to be taller) the same height as the UIScrollView. Not really suprising I guess, but just wondering

[2016-12-15 10:42] emilsjolander opened #285 "Expose overflow in obj-c API."
Need to be able to set overflow to be able to use yoga within a scrolling context. See https://github.com/facebook/yoga/issues/284. This may be able to be solved without explicitly exposing an overflow setting and instead relying on querying the view on wether it is scrollable. @dshahidehpour Can you have a look?

[2016-12-15 10:42] emilsjolander commented on #284
This should be solved by setting overflow = scroll on the uiscrollview. Seems like this has not been exposed yet in the Obj-c bindings though, Thanks for the heads up! I'll close this issue as I have filed a separate issue to address that problem. https://github.com/facebook/yoga/issues/285

[2016-12-15 10:42] #284 closed

[2016-12-15 10:44] emilsjolander commented on #281
Good catch. Nothing the compilers I use complain about 😞 Feel free to submit a pull request with the change, otherwise I will try to get to it next week. Thanks for the heads up.

[2016-12-15 10:45] emilsjolander commented on #279
I'm interested in more feedback from the community hear! I think it sounds pretty cool, I like the end result of reducing method calls. However I'm also thinking it we might be able to do this in some nice way without string parsing.

[2016-12-15 10:47] emilsjolander commented on #272
I'll manage releases via Github's releases feature which I think does this by default. First big release will come once I feel like I have address the major issues that popped up after launch.

[2016-12-15 10:47] emilsjolander commented on #271
What platform are you trying to build for?

[2016-12-15 10:49] emilsjolander commented on #260
I'm very happy to support different package managers. @guidomb Could you submit a pull request with carthage support? I'm not very familiar with it but it looks cool.

[2016-12-15 10:52] guidomb commented on #260
@emilsjolander Sure! I'll do it this weekend

[2016-12-15 10:54] emilsjolander commented on #260
Thanks 👍

[2016-12-15 11:04] jimon commented on #279
@emilsjolander awesome! I think would be nice to have both ways, sometimes it's more compact to set the style as a string, and sometimes it's better to have method calls.

I also experimented a bit and came-up that using printf syntax is pretty nice as well, so you write something like `SetNodeStyle(node, "right:%i; align-self:center;", x);`, which in some cases simplify life, but maybe it's a bit

[2016-12-15 11:10] emilsjolander commented on #279
I would love it if we could find a way to do this nicely using pure C syntax. But I have yet to find a good way to do it. Switching to C++ would give us the ability to do this more nicely.

[2016-12-15 14:38] emilsjolander commented on #279
@jimon Maybe something like this?

[code]

[2016-12-15 14:42] dshahidehpour commented on #285
No problem! I'll put up a diff to add it back.

[2016-12-15 14:55] emilsjolander commented on #156
We now build with buck so you should be able to use buck to get a jar.

[2016-12-15 14:55] #156 closed

[2016-12-15 14:56] #184 closed

[2016-12-15 15:50] jimon commented on #279
@emilsjolander sounds good for some cases! Though using already existing css style string notation is shorter and everyone already knows how to use it.

[2016-12-15 16:34] SirCmpwn commented on #272
GitHub releases do not do this automatically.

[2016-12-15 16:34] SirCmpwn commented on #271
Linux.

[2016-12-15 16:37] emilsjolander commented on #271
The headers exist in `yoga/*.h` and to compile a .so/.a file you can run `buck build //:yoga` and find the file in buck-out/ directory.

[2016-12-15 16:37] #271 closed

[2016-12-15 16:42] SirCmpwn commented on #271
So yes, they have to be installed manually?

[2016-12-15 16:44] emilsjolander commented on #271
Yes if you are not building with buck they have to be installed manually.

[2016-12-15 17:54] #248 closed

[2016-12-16 06:24] randomstrings commented on #285
I wrote some swift bindings for yoga and added a property for overflow which is working now for me. Here's a sample app showing the swift bindings in use (Xcode 8.1, swift 3.0.1). I would be interested to know what you think of this approach to the bindings. Thanks!

sample app:
https://github.com/randomstrings/FitChart

direct link to swift bindings:
https://github.com/randomstrings/FitChart/blob

[2016-12-16 09:17] emilsjolander commented on #285
@randomstrings bindings look pretty good. I would move the enums into another file so that they can be generated with `enums.py`

[2016-12-16 16:05] randomstrings commented on #285
Ok, I'll take a look at `enums.py`. Do you think these swift bindings are something I should add to Yoga and submit a pull request for? Or would it be better for me to host them as a separate repo? In the case of the former, any advice on how to proceed? Thanks

[2016-12-16 16:15] emilsjolander commented on #285
@randomstrings Open an issue or pull request so we can discuss it separately from this issue.

[2016-12-17 00:22] randomstrings opened #287 "Integration of swift bindings into repo"
Just wondering how I should approach integrating swift bindings into the repo for the purpose of submitting a pull request. For example, should I create a new swift target in the existing `YogaKitSample.xcodeproj`, so there would be 1 target for obj-c and one for swift? Or should I create a new `YogaKitSwift` directory at the root level alongside the existing `YogaKit` directory?

Any preferences

[2016-12-17 00:25] randomstrings commented on #285
OK, I opened #287 to discuss.

[2016-12-17 08:56] emilsjolander commented on #287
Would it be possible to change the obj-c bindings in such a way so the interop better with swift instead? I see a lot of value easily using Yoga from swift but don't see a lot of value writing the bindings in swift if the same could be achieved leveraging existing C or obj-c headers. Maybe making use of https://developer.apple.com/library/content/documentation/Swift/Conceptual/BuildingCocoaApps/In

[2016-12-17 10:08] emilsjolander commented on #287
@dshahidehpour you might have some valuable input here

[2016-12-17 18:31] randomstrings commented on #287
To your question, I'm not sure, but it would be interesting to see.

I was thinking the bindings would be native for each language (e.g. swift for a swift app, objc for an objc app, java for a java app, etc). I think swift developers value native swift bindings (at least I do).

I notice at the root level there are directories for the other languages:

[code]

What if this were made more consisten

[2016-12-17 20:02] randomstrings commented on #287
As an aside, I got the swift enums exporting with `enums.py`:

https://github.com/randomstrings/FitChart/blob/master/Yoga%2BSwift/Yoga%2BSwift%2BEnums.swift

[2016-12-18 08:09] emilsjolander commented on #287
@randomstrings If we can get a good API in swift using the C or objc headers then it is less code to maintain which is a clear win. Having the bindings implemented in swift is not a clear win in itself unless it somehow improves the API swift developers interact with.

Changing the top level folder from `YogaKit` -> `objc` should be fine.

[2016-12-18 09:47] hartbit commented on #287
Quick input. I'm also very interested by this. I agree with @emilsjolander that it would be better not to have to support two languages for the same platform (iOS). Especially as we can go very far with `CF_SWIFT_NAME` and other compiler hints. The only thing that annoys me about the native enums is that they contain the `count` value that, if I'm not mistaken, is purely an implementation detail t

[2016-12-18 10:21] emilsjolander commented on #287
@hartbit yeah count is there because in the C implementation we use the enums for array indexing so we need to count to allocate the array size / loop over the array. I agree it's not great. I'm very open to a better solution.

[2016-12-18 16:04] hartbit commented on #287
@randomstrings @emilsjolander If you both don't mind, I'd like to try to improve the Objective-C APIs and make them look good in Swift at the same time. I'll open a Pull Request and you can both comment on it.

[2016-12-18 16:05] randomstrings commented on #287
@emilsjolander I take your point, however I'm not sure if I have anything to contribute to this question of the C enums, although I'm happy to help with the swift support in general if I can. Some possible action items:

- providing swift-friendly properties in objc (right now there are setters, but we also need getters and property declarations). This will allow swift code such as `view.yogaHeigh

[2016-12-18 16:06] randomstrings commented on #287
@hartbit That would be great. Let me know if I can help.

[2016-12-18 21:33] hartbit commented on #287
@emilsjolander @randomstrings I've opened a pull request #289 and I'd really appreciate some feedback.

[2016-12-18 21:42] guidomb commented on #260
I was about to work on this issue but I've realized that it was already been worked on https://github.com/facebook/yoga/pull/289

[2016-12-19 04:27] guidomb opened #290 "YogaKit does not correctly account for composite UIView when doing layout"
I've been trying to render an instance of `MKMapView` but failed to do so.

Here is a code that works **without** using Yoga

[code]

which renders the following view

![simulator screen shot dec 19 2016 1 24 12 am](https://cloud.githubusercontent.com/assets/390645/21301187/fdfbcc02-c589-11e6-8549-47c9c74d9584.png)

but when I try to render a same map view using Yoga with the following code

[code

[2016-12-19 04:33] emilsjolander commented on #290
Is the "legal" text part of MKMapView?

[2016-12-19 04:39] guidomb commented on #290
Yes it is.

[2016-12-19 04:43] emilsjolander commented on #290
Yes ok. This is an issue I found last week. MKMapView is a composite view which is not correctly handled in the YogKit implementation. MKMapView should be treated as a leaf node in the Yoga node tree but due to it being marked with `usesYoga` and it having children it does not get treated that way and this bug happens. For no you can fix this by not marking the map as using yoga and just setting a

[2016-12-19 04:47] guidomb commented on #290
OK thanks for the quick response. I'll try that. I haven't experienced this issue with UIButton though. Is there anything I can do to help fixing this bug? Not very familiar for Yoga's implementation but maybe you can point me to piece of code that might be causing this issue.

[2016-12-19 05:06] emilsjolander commented on #290
I discussed this with a colleague the other day. We didn't come up with a solution we were super happy with which is why I didn't make any change. The only solution we came up with is to have a property called `yg_isLeaf` which can be set on certain views. This is the line of code which would check for `yg_isLeaf` https://github.com/facebook/yoga/blob/master/YogaKit/UIView%2BYoga.m#L283

[2016-12-19 13:13] guidomb commented on #290
@emilsjolander If you want I can add private method like

[code]

and then make a category for `MKMapView` that sets the associated object to `@YES`.

Not the cleanest solution but it should work. What do you think?

[2016-12-19 13:17] emilsjolander commented on #290
This is not scaleable. I think a better solution is to just add a prop to
the existing category and then you can create your own subclasses or
categories which set that prop.
On Mon, 19 Dec 2016 at 13:13, Guido Marucci Blas <notifications@github.com>
wrote:

[2016-12-19 13:23] guidomb commented on #290
You mean use the same mechanism as how, for example, `yg_setWidth` is implemented? Add a `yg_setIsLeaf` and then make a category in `MKMapView` which always return `YES`?.

If that is the case I wonder if category extension have a well defined "method order". By this I mean if a category method defined on a subclass has precedence over the same category method defined on a super class. I would bet

[2016-12-19 13:27] emilsjolander commented on #290
@guidomb I think you could add a category method which is `-(instancetype)initForYoga` which calls that setter. Or your category could swizzle the implementation of `-(BOOL)isLeaf` on `MKMapView`

[2016-12-19 13:40] guidomb commented on #290
Before I find the best way to do such thing I need to understand this change a little better because I've made a quick hack to check if this would actually fix the issue and I am getting a crash. I've changed the line you pointed before to

[code]

which successfully forces `YGAttachNodesFromViewHierachy` to call `YGNodeSetMeasureFunc` for the map view by adding `[view isKindOfClass:[MKMapView cla

[2016-12-19 13:42] emilsjolander commented on #290
You also need to update https://github.com/facebook/yoga/blob/master/YogaKit/UIView%2BYoga.m#L371

[2016-12-19 13:46] guidomb commented on #290
@emilsjolander Oops! sorry didn't see that. You were right it worked! Now the maps renders correctly. I'll prepare a PR. Thanks a lot helping me!

[2016-12-19 14:36] guidomb commented on #290
I've created https://github.com/facebook/yoga/pull/291 we can continue the discussion there.

[2016-12-20 13:08] dshahidehpour commented on #290
@guidomb Thanks for using YogaKit! I'm Dustin, and I'm one of the main creators of YogaKit. I ran into this bug a few days and have been working on a fix internally at FB.

The TL:DR; is that I'm landing a fix this morning. It will sync with this repo shortly after.

As you correctly spotted, add YogaKit properties to a composite views removes it use of the `MeasureFunc` which usually results in c

[2016-12-20 13:11] guidomb commented on #290
@dshahidehpour Cool! Thanks for sharing this! Looking forward for this fix!

[2016-12-20 23:31] dshahidehpour commented on #290
The fix for this landed in 835bb1c. I'm going to close this, but feel free to open if something else arises!

[2016-12-20 23:31] #290 closed

[2016-12-21 22:21] itsff opened #295 "C# wrapper can crash"
It looks like the C# wrapper is not following "best practices" of calling native code. I think you are just getting lucky that the code is not crashing on you (likely since the reference is long-lived).

Please use **GC.KeepAlive()** to ensure the GC doesn't finalize YodaNode object while you are within a native function call. Some background:
https://goo.gl/WeL3H4
https://msdn.microsoft.com/en-us

[2016-12-21 23:10] splhack commented on #295
@itsff Can you share a concrete example of the scenario that we need to call `GC.KeepAlive()`? I think all managed objects already live longer than the associated unmanaged objects.

[2016-12-22 08:29] woehrl01 commented on #295
@splhack I just read through most of the provided links and did some research. It seems the following is true if you run this outside of visual studio

If if you are inside a object method the finalizer can be run:

[code]

That means, it could be that the node gets finalized inside the CalculateLayout() function.
Which means the memory gets freed while the calculation runs.

The suggest fix is to

[2016-12-22 14:06] itsff commented on #295
Well done, @woehrl01.
Moving to a dedicated `SafeHandle` class should address both of my concerns. First and foremost, the automatic marshaller will ensure the `SafeHandle` isn't disposed while the library is making a P/Invoke call. Second, moving away from having a finalizer in `YogaNode` will allow managed objects referenced by `YogaNode` to be GCed earlier, thus improving overall efficiency.

T

[2016-12-22 14:13] emilsjolander commented on #295
@woehrl01 or @itsff could you open a PR with these changes. Great find!

[2016-12-22 15:01] woehrl01 commented on #295
@itsff cool, I leave it up to you. I don't mind doing the PR. Don't want to heist some "credits" so. 😄

[2016-12-22 15:16] itsff commented on #295
Sounds good, gentlemen. I will do a PR tonight. @woehrl01 @emilsjolander

[2016-12-22 16:22] splhack commented on #295
It seems `Microsoft.Win32.SafeHandles` is available on all Unity platform https://github.com/OSVR/Managed-OSVR/pull/10#r31332441

[2016-12-22 18:42] rozele opened #296 "Math.floor operation on MeasureOutput for Java and C#"
I just wanted to check if this behavior was by-design before I made any PR.  In react-native-windows, we have to do Math.Ceiling on all of our measure function outputs because casting from float/double to int always does a floor operation:

https://github.com/facebook/yoga/blob/master/csharp/Facebook.Yoga/MeasureOutput.cs#L16
https://github.com/facebook/yoga/blob/master/java/com/facebook/yoga/Yoga

[2016-12-22 19:30] woehrl01 commented on #296
Nice catch! ButI think you should not use any rounding logic as those values are treated as float in the c part.

For Java you should instead use:
[code]

In C#:
[code]

As this is a little cumbersome on C# maybe its better to use directly a struct with two floats (see [YGSize](https://github.com/facebook/yoga/blob/master/yoga/Yoga.h#L36))

This additionally prevents us from a bug if we calculate

[2016-12-22 22:12] matthargett commented on #295
Please use this NuGet package so the behavior is correctly polyfilled across all NETstandard platforms:
https://www.nuget.org/packages/System.Runtime.Handles/4.3.0

[2016-12-22 22:20] dshahidehpour commented on #260
@guidomb We could still use CocoaPods support too :)

[2016-12-23 12:57] guidomb commented on #260
@dshahidehpour Sure, more than happy to help. I'll until https://github.com/facebook/yoga/pull/289 gets merged and then I'll add CocoaPods support.

[2016-12-23 18:08] itsff commented on #295
Resolved by PR #297

[2016-12-23 18:08] #295 closed

[2016-12-23 22:32] woehrl01 commented on #241
@roxlu for a feature I try to implement externally this would be a handy thing, do you mind if I do a PR ?

[2016-12-23 22:36] roxlu commented on #241
Yep of course. Though I would love to see this being integrated here. @emilsjolander shall I do a pull request?

[2016-12-23 22:37] emilsjolander commented on #241
Go ahead and create a PR and we can discuss the details further there 👍

[2016-12-24 14:51] Justinfront opened #303 "CLA? And is there some core code not in c I can look at."
I was wondering why you require the 'CLA' declaration it seems to be against opensource approaches, either it's a BSD3 project or it's not, I wonder does it mean that people will branch to extend but not pull?  Surely it would be better for someone to branch the whole project and then people can contribute directly without corporate ownership rules that probably are not a problem but are no doubt

[2016-12-24 14:57] emilsjolander commented on #303
The core is implemented in C (https://github.com/facebook/yoga/blob/master/yoga/Yoga.c) and other languages are supported through language bindings such as JNI (for java) or P/Invoke (for .NET).

[2016-12-25 09:37] emilsjolander commented on #235
We are instead adopting a better obj-c wrapper which will work more nicely in swift.

[2016-12-25 09:37] #235 closed

[2016-12-25 09:40] emilsjolander commented on #201
We have fixed a lot of min/max issues since 6 months back. Closing this out now. If you still have issues please re-open.

[2016-12-25 09:40] #201 closed

[2016-12-25 09:42] emilsjolander commented on #279
I actually think this is better implemented outside of Yoga. I would prefer Yoga to only implement the core library and language bindings and let other libraries / user space code provide these kinds of abstractions.

[2016-12-25 09:42] #279 closed

[2016-12-25 10:05] woehrl01 commented on #296
@emilsjolander Java still needs to be changed/fixed.

[2016-12-25 10:31] emilsjolander commented on #296
@woehrl01 putting up a diff now (internally). Thanks for noticing!

[2016-12-25 10:45] emilsjolander commented on #296
@woehrl01 putting up an internal diff for java now. thanks!

[2016-12-27 03:27] liao123abc opened #306 "How to build yoga with Android Studio?"

[2016-12-27 11:11] Shuijwan opened #307 "how to generate libyoga.so for android"
I install buck, and want to build out a libyoga.so and the Java wrapper.
however, It failed to generate the libyoga.so.
1. "buck build //:yoga" will just generate a libyoga.a

2. "buck build //java:jni" will generate a libjni.a

3. "buck build //java:java" will generate java.jar and java-abi.jar, from my understanding, the //java:java build target  depends on jni&yoga, so it should generate both t

[2016-12-27 14:21] hartbit commented on #260
@guidomb I started a pull request to support Carthage #305 but It might be easier to support both at the same time as the template for CocoaPods makes it support Carthage automatically. So you're welcome to take over if you want.

But I see several problems:

1) I hit a road-block supporting Carthage - which I think also exists with Cocoapods - because doing so breaks the buck build the project re

[2016-12-27 15:21] dshahidehpour commented on #260
I think we should start the talk about versioning YogaKit. Since we already have a lot of new changes coming (Swift, new syntax, etc.) I don't see why we shouldn't start having branches for this.

@emilsjolander What do you think?

[2016-12-28 02:19] koudle commented on #307
I use " buck build java:jni#default,shared" can generate a libyouga.so,but when I use the so in Android project, it crashed

[2016-12-28 02:30] Shuijwan commented on #307
it generate a libyoga.dylib in my mac... do you know how to set the platform?

[2016-12-28 02:39] koudle commented on #307
there is a properties "soname" in buck ``soname = 'libyoga.$(ext)'``,maybe you can set ``soname = 'libyoga.so"``
you can see ``https://buckbuild.com/rule/cxx_library.html``,but some properties doesn't work

and I am also very confused

[2016-12-28 03:05] Shuijwan commented on #307
Thanks koudle, just set soname to libyoga.so should be wrong,  I saw the LinkMap.txt of libyoga.so, it is still a Mac specific library.
# Object files:
[  0] linker synthesized
[  1] buck-out/gen/java/jni#compile-pic-YGJNI.cpp.o8c77d5e7,default/jni/YGJNI.cpp.o
[  2] buck-out/gen/lib/fb/fbjni#default,shared/liblib_fb_fbjni.dylib
[  3] buck-out/gen/yoga#default,shared/libyogacore.dylib
[  4] /Applic

[2016-12-28 03:42] splhack commented on #307
You can use `android-armv7` flavor.

    $ buck build //java:jni#android-armv7,shared
    $ buck targets --show-output //java:jni#android-armv7,shared
    //java:jni#android-armv7,shared buck-out/gen/java/jni#android-armv7,shared/libyoga.so
    $ file buck-out/gen/java/jni#android-armv7,shared/libyoga.so
    buck-out/gen/java/jni#android-armv7,shared/libyoga.so: ELF 32-bit LSB shared object, ARM,

[2016-12-28 07:51] Shuijwan commented on #307
@splhack many thanks, it works now.

[2016-12-28 11:53] emilsjolander commented on #260
@dshahidehpour semver is coming. i'm holding off on a couple big changes / fixes before marking a first version. Planning to do this very early january.

[2016-12-28 16:40] guidomb commented on #260
@emilsjolander @dshahidehpour I've added support for CocoaPods in #309.

[2016-12-29 03:34] koudle commented on #307
@Shuijwan It works for me,but in my project,the so load failed.How do you solve it?

[2016-12-29 03:54] splhack commented on #307
@koudle have you copied all so files?

    buck-out/gen/java/jni#android-armv7,shared/libyoga.so
    buck-out/gen/lib/fb/fbjni#android-armv7,shared/liblib_fb_fbjni.so
    buck-out/gen/yoga#android-armv7,shared/libyogacore.so

[2016-12-29 04:01] Shuijwan commented on #307
@koudle also you need copy the libgnustl_shared.so to your jniLibs. it is under /Users/Aaron/Downloads/android-ndk-r13b/sources/cxx-stl/gnu-libstdc++/4.9/libs/armeabi-v7a

[2016-12-29 04:45] koudle commented on #307
@splhack I have copied all so files ,and @Shuijwan Shuijwan is right,also need copy the libgnustl_shared.so to  jniLibs,it works now,thanks very much

[2016-12-29 06:17] anql opened #310 "Absolute Position with align items center does not work like on web"
[code]

http://jsfiddle.net/s8ksdpre/5/
@emilsjolander

[2016-12-29 07:47] pkubuding opened #311 "Can i get a android layout file ?"
I just want to konw if i can get a android layout file using yoga? For android , i can use it for what scenes?

[2016-12-29 08:11] liao123abc commented on #307
@Shuijwan could you share your so files Plz. Currently I'm trying to use it. But, fail to build it(via Windows). Now trying to build it via Linux. But I eager to touch it.
991192001@qq.com
Thx.

[2016-12-29 08:55] koudle commented on #307
@liao123abc you can see my github https://github.com/koudle/AndYogaExample,麻烦star一下，thanks

[2016-12-29 13:03] emilsjolander commented on #296
https://github.com/facebook/yoga/commit/352f592767b148747da2d5822f0f4de17eb7b9c2

[2016-12-29 13:03] #296 closed

[2016-12-29 13:43] mpost commented on #307
Is the libgnustl_shared.so really needed? It is rather large and bloats the final apk when supporting multiple architectures.

[2016-12-29 13:46] emilsjolander commented on #307
@mpost not sure.

It is on my todo list to create a sample gradle setup for android and posting it to jcenter / maven central. Just not the highest priority right now.

[2016-12-29 13:46] mpost commented on #307
@emilsjolander that would be very handy. Please keep us posted.

[2016-12-29 16:33] splhack commented on #307
You can specify C++ runtime in `.buckconfig.local` file. For example,

    [ndk]
      ndk_version = r10e
      app_platform = android-21
      compiler = clang
      cxx_runtime = libcxx

    $ buck build //java:jni#android-armv7,shared
    $ for f in `find buck-out -name "*.so"`; do echo "$f:"; strings $f|grep libc++_shared.so; done
    buck-out/gen/java/jni#android-armv7,shared/libyoga.so:

[2016-12-30 08:40] #306 closed

[2016-12-30 14:17] mpost commented on #132
`baseline` support sounds like a must have. Currently it is not possible to accurately align a "label" and a "text input" to be optical in line across platforms.

[2016-12-31 11:18] emilsjolander commented on #132
@mpost totally agreed. Just not a top priority yet.

[2016-12-31 12:10] mpost commented on #132
@emilsjolander thanks for the info. Speaking of top priorities, is there a roadmap to features we could expect?

[2016-12-31 13:19] PaulBGD opened #312 "Cocoa Support"
Are there any official plans for cocoa support alongside uikit?

[2017-01-02 00:34] gnardini commented on #306
Did you manage to do this? Anywhere you can point me to to do it?

[2017-01-02 10:03] emilsjolander commented on #312
No plans. We would definitely consider merging a PR if cocoa support can be added with minimal impact on maintenance.

[2017-01-02 10:03] #312 closed

[2017-01-02 10:05] emilsjolander commented on #132
No roadmap just yet. I am thinking about posting something soon.

[2017-01-02 13:24] #147 closed

[2017-01-02 14:39] rmarinho commented on #285
This is really needed to make it usable

[2017-01-03 08:43] anql opened #313 "Aspect ratio is different as document described"
As yoga's document - [Aspect Ratio](https://facebook.github.io/yoga/docs/aspect-ratio/) described, the Height should be **Width * Aspect ratio**. However, Height was calculated with **Width / Aspect ratio**  by the code.

![default](https://cloud.githubusercontent.com/assets/6122573/21602678/a5c45eba-d1d1-11e6-87cd-c18638638c7c.png)
## TestCase
[code]
## Print tree
[code]
I'm not good at English,

[2017-01-03 16:00] #285 closed

[2017-01-03 17:18] dopcn commented on #198
@emilsjolander Can you share with us how would you manipulate placement of a flex item along the main flex axis in yoga?  It seems using `margin: auto` is pretty big deal when doing this.

Reference: http://stackoverflow.com/questions/32551291/in-css-flexbox-why-are-there-no-justify-items-and-justify-self-properties

[2017-01-03 17:23] emilsjolander commented on #198
Could you provide some concrete examples of a layout you wish to implement?
On Tue, 3 Jan 2017 at 18:18, Weizhou <notifications@github.com> wrote:

[2017-01-06 01:37] Jaydee2190 opened #323 "Child with MinWidth, Flex and Wrap lays outside of parent boundary"
Thanks for an amazing library, I have run into a small issue when using flex wrap and having a single item in a row that has its flex attribute set.  Just before the item wraps there's a point where it's layout is outside the layout container bounds.  I've narrowed it down to layout.computedFlexBasis being 0, and the following line doesn't break...but don't know the inner workings well enough...

[2017-01-06 02:58] rogerjiang opened #325 "what is the mean of YGEdge"
I had some problems that I can not understand;
yoga define the YGEdge
1) what is the meaning of the YGComputedEdgeValue mean.
2) what is the difference between the YGEdgeLeft And YGEdgeStart And YGEdgeHorizontal. the real meaning of  the different param.

[2017-01-06 09:09] emilsjolander commented on #325
`YGComputedEdgeValue` is a function which resolves the value of a YGEdge taking aliases such as `YGEdgeHorizontal` into account. `YGEdgeStart` indicates the starting edge of a node. In left-to-right layout mode this is the same as `YGEdgeLeft` but in right-to-left mode it is the same as `YGEdgeRight`.

[2017-01-06 09:09] #325 closed

[2017-01-06 09:11] emilsjolander commented on #323
@Jaydee2190 Thanks for reporting this! Could you provide a test fixture (https://github.com/facebook/yoga/tree/master/gentest/fixtures) which demonstrates this bug? We prefer using test fixtures for these bugs as they validate the correct behavior using the browser.

[2017-01-06 09:12] woehrl01 commented on #323
Looks like #262

[2017-01-06 12:53] Jaydee2190 commented on #323
@woehrl01 yes, sorry, somehow I missed your issue when I browsed through.  It is the same problem. I'll close this issue.

[2017-01-06 12:53] #323 closed

[2017-01-06 20:41] arcanis opened #326 "Content box"
Now that percent unit support has been added to the library, I was wondering if you've considered exposing the content box on top of the element box. What do you think? It currently seems hard to know the exact size of the padding inside the box.

[2017-01-06 22:56] woehrl01 commented on #132
@emilsjolander @zackhsuan this can be closed now, can't it?

[2017-01-09 09:25] dolmens opened #329 "how to make the node not to determine its size by parent, but instead by children?"
root (100, 100)
-> root_child0 (100, undefined)
----> root_child0_child0(100, 200)

I need the root_child0's layout height to be 200, how? thanks in advance.

[2017-01-10 02:25] coolstateless opened #330 "How to use yago layout in android activity layout?"

[2017-01-10 02:27] coolstateless commented on #330
YogaNode root = new YogaNode();
root.setWidth(500);
root.setHeight(300);
root.setAlignItems(CENTER);
root.setJustifyContent(CENTER);
root.setPadding(ALL, 20);
YogaNode text = new YogaNode();
text.setWidth(200);
text.setHeight(25);

YogaNode image = new YogaNode();
image.setWidth(50);
image.setHeight(50);
image.setPositionType(ABSOLUTE);
image.setPosition(END, 20);
image.setPosition(TOP, 20);

root

[2017-01-10 02:49] splhack commented on #281
YGNodeGetChildCount is defined in Yoga.h and dllexport and inline should work as explained in this document.

https://msdn.microsoft.com/en-us/library/w8c3skw3.aspx

[2017-01-10 02:49] #281 closed

[2017-01-10 11:56] emilsjolander commented on #330
call `root.calculateLayout()` and the use the `node.getLayout*()` methods to query the nodes positions. These can then be set on android views. There is currently no wrapper integrating android views with Yoga automatically.

[2017-01-10 11:56] #330 closed

[2017-01-10 11:57] emilsjolander commented on #326
I would prefer to only support border-box sizing. Can you give an example of what is hard the achieve with the current model?

[2017-01-10 11:58] #303 closed

[2017-01-10 12:00] emilsjolander commented on #329
Use the following jsfiddle to play around with styling https://jsfiddle.net/emilsjolander/jckmwztt/. If you have general flexbox questions I suggest asking them on stack overflow. If you have any yoga specific issues please re-open this issue.

[2017-01-10 12:02] emilsjolander commented on #313
Yes the documentation is wrong 👍 Thanks for finding this. Fixing now.

[2017-01-10 12:18] arcanis commented on #326
Oh, sure, I completely agree with using border-box. My point was that because units can now be percents, some values need to be resolved one way or the other to be added or substracted to others. For example, let's say I want to get the content width of an element like this:

[code]

I currently need to apply the resolve logic myself:

[code]

Which means that I have to embed some layout logic ins

[2017-01-10 13:39] dolmens commented on #329
Ah, the code above in my post got layout height 200 in chrome, but not in yoga, i don't know which one is wrong or there isn't a specification about that.

[2017-01-10 13:42] emilsjolander commented on #329
Could you please post the jsfiddle you are using so I can see the styles?

[2017-01-10 13:46] emilsjolander commented on #326
Ah ok this has recently been added to the C version. Seems like the javascript wrapper is missing just 👍  https://github.com/facebook/yoga/blob/master/yoga/Yoga.h#L200 gets the computed layout padding after calculation.

[2017-01-10 14:07] emilsjolander commented on #326
@arcanis does this look like what you need?

[2017-01-10 14:09] #132 closed

[2017-01-10 14:23] dolmens commented on #329
https://jsfiddle.net/dolmens/6cj72vbw/

[2017-01-10 14:33] emilsjolander commented on #329
And what is the result running this in yoga?

[2017-01-10 14:34] dolmens commented on #329
height of
root: 100
root_child0: 100
root_child0_child0: 200

[2017-01-10 14:39] #313 closed

[2017-01-10 14:41] emilsjolander commented on #329
Thanks! Reproduced locally with the following test fixture.

[code]

[2017-01-10 18:09] arcanis commented on #326
Sounds like it! 👍 How would you feel about adding border & margin counterparts, and the EDGE_HORIZONTAL & EDGE_VERTICAL support? Can I open a PR with these changes?

[2017-01-10 18:11] emilsjolander commented on #326
I would be fine with border and margin support. I'm not sure about EDGE_HORIZONTAL & EDGE_VERTICAL support as i'm not certain what that would mean? If you get the horizontal padding of a node with 5 in left padding but 10 in right padding then what should it return?

[2017-01-10 18:18] arcanis commented on #326
It would return 15, the sum of left + right. So computing the content width would work like this:

[code]

Instead of:

[code]

[2017-01-10 18:20] emilsjolander commented on #326
I don't think we should add that as it works differently than setting horizontal padding (setMargin(EDGE_HORIZONTAL, 10) sets 10 on both sides) and it is easy enough to get left and right and add them together 👍 .

[2017-01-10 18:37] arcanis commented on #326
Ok :) How do you feel about implementing `YGNodeGetBorder` if we don't support additional edge values? Because the borders are unitless, it would just be an alias to `YGStyleGetBorder`. I think that this alias should be implemented, because even if those functions have the same return value they won't have the same semantic. What do you think?

[2017-01-10 18:54] emilsjolander commented on #326
@arcanis I agree. Please split it up in two PRs though.

[2017-01-11 03:33] anql commented on #313
Thanks for fixing it. Yoga is really an awesome project.👍

[2017-01-11 20:22] rmarinho opened #333 "Nuget for csharp"
There's already some nuget files for Windows, i wanted to work in same for iOS and Mac.

There's a issue related with this, we need to build this on Windows and OSX. Can you provide CI to do that? If so can we start discuss a plan for how it will work?! where each build will publish artifacts etc .. And if we have preference in what OS we are going to build the nuget.

[2017-01-12 03:11] dolmens opened #334 "measure function called multi times unnecessarily"
the measure function:
[code]

the tree:
[code]

and the result:
[code]

I test this in iPhone and android mobiles.

Apparently, the float value `83.99999` and `84.f` are equal, so the second call is unnecessary, I guess.

[2017-01-12 10:13] emilsjolander commented on #333
We have travis set up already. Will that work?

[2017-01-12 10:17] emilsjolander commented on #334
Good catch, i'll look into it. thanks!

[2017-01-12 13:43] roubachof commented on #276
Nice work for the Xamarin.iOS version 👍
It would be awesome if we could have a Xamarin.Android version as well.
Cross platform layouting without using Xamarin.Forms: would be a blast :1st_place_medal:

[2017-01-12 13:57] emilsjolander commented on #276
@rmarinho @chamons Do any of you know about supporting Xamarin.Android?

[2017-01-12 14:00] rmarinho commented on #276
I will work on it..

[2017-01-12 14:01] rmarinho commented on #276
@roubachof ahaha

[2017-01-12 14:04] emilsjolander commented on #276
@rmarinho Awesome!

[2017-01-12 17:31] dhaligas commented on #276
@rmarinho I would also like to see this become a Forms Layout as well

[2017-01-12 22:48] rmarinho opened #337 "YogaKit failing tests"
I have` testThatMarkingLeafsAsDirtyWillTriggerASizeRecalculation,  testFrameAndOriginPlacement and  testSizeThatFitsSmoke` failing for me on Xcode.. the values are not correct but seems a problem rounding ..

[2017-01-13 09:23] coolstateless commented on #330
but , i think that yoga is not usefull for android，i use android view‘ attribute set on android view,than this is more easy?

[2017-01-13 09:24] coolstateless commented on #330
but , i think that yoga is not usefull for android，i use android view‘ attribute set on android view,than is this  more easy?

[2017-01-14 13:20] dolmens commented on #329
After set attribute `overflow: scroll`, the root_child0's layout height becomes 200, which is what I want. So there was only one caveat: the default setting is not compatible with chrome.

[2017-01-15 22:01] emilsjolander commented on #329
@dolmens I have a fix for this internally but because it is a breaking change we are rolling it out slowly starting Monday.

[2017-01-15 23:24] #326 closed

[2017-01-17 00:24] #261 closed

[2017-01-17 02:56] dolmens commented on #329
verified

[2017-01-17 02:56] #329 closed

[2017-01-17 14:55] dshahidehpour commented on #337
Hi @rmarinho, I'll take a look at this today. There has been a lot of churn in those files via PRs and internal fixes recently, so it's not unlikely something went amiss.

[2017-01-17 18:01] Kasu opened #342 "Invalid LayoutX/LayoutY for nested flex nodes"
The `container` node in the example below flexes correctly to dock into the padding of the `root` node. The `container` node ends up with the valid bounds `x=25, y=25, w=450, h=250`. The problem occurs when i add the next flex node `top` inside `container`. The `top` node seems to lose its `LayoutX` and `LayoutY` values entirely (while `LayoutWidth` and `LayoutHeight` is correct):

![image](https:

[2017-01-18 00:46] aniddan opened #343 "Why isn't it published on npm/yarn registry?"
Can't find the yoga-layout package.

[2017-01-18 06:55] woehrl01 commented on #342
@Kasu LaxoutX and LayoutY is relative to it's parent. As in your example container has no padding. Top has no additional LaxoutX or LayoutY besides the values the container has.

[2017-01-18 09:13] Kasu commented on #342
@woehrl01 `container` has no padding, indeed, but it has the bounds `x=25, y=25, w=450, h=250` because it is shrunk by the padding of `root`. Which means that `top` should also be positioned at `x=25, y=25`.

[2017-01-18 10:45] Shuijwan commented on #307
Hi @splhack , I check the cxx_binary in https://buckbuild.com/rule/cxx_binary.html, it said use strip-debug or strip-non-global flavors can strip the debug symbols. however when I run it through
buck build //java:jni#android-armv7,strip-debug,shared or
buck build //java:jni#android-armv7,strip-non-global,shared

the generated library is always not stripped.

file buck-out/gen/java/jni#android-armv

[2017-01-18 20:35] woehrl01 commented on #342
@Kasu no, as it inherits the position from it's parent. LayoutX and LayoutY are relative values. The values you expect would be the absolute ones. Simply add all the values from each nodes parents.

[2017-01-18 21:43] Kasu commented on #342
@woehrl01 Oh, I see. My mistake then! Thanks for clearing that up for me :)

[2017-01-18 21:43] #342 closed

[2017-01-18 21:55] nwlieb commented on #343
If there is work to be done I'd be glad to help out. Having yoga in the npm registry would simplify our build considerably.

[2017-01-18 22:16] abhishiv commented on #343
Does anyone know a workaround in the meantime?

[2017-01-19 16:29] splhack commented on #307
maybe that feature wasn't implemented yet in buck ndk shared library target. `arm-linux-androideabi-strip -g` instead.

[2017-01-20 02:11] Shuijwan commented on #307
@splhack many thanks, it works now.

[2017-01-20 16:22] nwlieb commented on #343
@abhishiv
The recommended solution in their [documentation](https://facebook.github.io/yoga/docs/getting-started/) is:

[2017-01-22 19:05] arcanis commented on #343
I think the easiest workaround in the meantime is to add emscripten inside your PATH, clone the repository somewhere, run `npm run build:all && npm link` from the `javascript` directory, and `npm link yoga-layout` inside your application (possible in the postinstall script).

[2017-01-23 14:06] dshahidehpour commented on #337
Working on this now.

[2017-01-23 17:34] dshahidehpour commented on #337
Just put up an internal diff, I'll do my best to land this today, thanks for being patient!

[2017-01-24 03:22] dshahidehpour commented on #287
We added Swift support with 9982295e

[2017-01-24 03:22] #287 closed

[2017-01-24 03:40] dshahidehpour commented on #337
Fixed in a4bab68

[2017-01-24 03:40] #337 closed

[2017-01-24 12:02] arcanis commented on #343
Another alternative is to use [`@arcanis/npm-git-install`](https://github.com/arcanis/npm-git-install/).

Once added to your package.json dependencies, add the following:

[code]

Still a bit experimental, but a lot more easy.

[2017-01-25 03:09] #334 closed

[2017-01-25 09:35] Shuijwan opened #354 "NoClassDefFoundError: com/facebook/jni/Countable when load liblib_fb_fbjni.so in Andorid 4.2"
when run in Android 4.2, when Soloader.loadLibrary("yoga") is called, it crashes in

I/dalvikvm(22627): java.lang.NoClassDefFoundError: com/facebook/jni/Countable
I/dalvikvm(22627): 	at java.lang.Runtime.nativeLoad(Native Method)
I/dalvikvm(22627): 	at java.lang.Runtime.load(Runtime.java:338)
I/dalvikvm(22627): 	at java.lang.System.load(System.java:521)
I/dalvikvm(22627): 	at com.facebook.soloader

[2017-01-26 03:14] Shuijwan commented on #354
I dig into the fbjni code today, and find the root cause is that the NDK bug in android 4.2, the dependency library(here is the liblib_fb_fbjni.so depended by libyoga.so) need to be loaded explicitly, so the fbjni's JNI_Onload will be called, and in this JNI_OnLoad it will call initialize_fbjni.  The initialize_fbjni function seems useless, and it will crash in lack of Countable class.  After dele

[2017-01-26 13:22] dolmens opened #355 "flex initial value not compatible with css standards(chrome/firefox at least)"
According to this page, which I understand as css *standard*,

https://www.w3.org/TR/css-flexbox-1/#flex-common

`The initial values of the flex components are equivalent to flex: 0 1 auto.`

It means a lot, but simply, that the content would be shrink-ed if the container is not big enough.

like this sample:
https://jsfiddle.net/dolmens/Lgbo1hba/

but the yoga flex's initial value, I tested, is 0

[2017-01-26 18:01] emilsjolander commented on #355
This is a known issue. During the conception of the project initial values were chosen that were different from those in the spec. We would want to change this but given the adoption of Yoga it is very hard to change default values at this point. Most likely we will offer a different constructor which uses the default values from the spec at some point.

[2017-01-26 18:10] splhack commented on #355
How about having global option like `YGSetNodeDefaultPolicy(YGNodeDefaultPolicyYoga or YGNodeDefaultPolicyW3Spec)`

[2017-01-26 20:37] emilsjolander commented on #355
@splhack I want to move away from having global flags as multiple users of Yoga should be able to configure it differently within the same product.

[2017-01-26 21:39] #310 closed

[2017-01-27 10:42] birfincankafein commented on #307
When I try to run
`buck build //java:jni#android-armv7,shared`
buck says:

[2017-01-27 11:50] birfincankafein opened #358 "Adding Building Steps inside Wiki"
I still cannot find how to build Yoga for Android. I saw  `buck build //java:jni#android-armv7,shared`
but this is not working, also `buck build java:jni#default,shared  ` this is not working on Android too.

[2017-01-27 13:13] birfincankafein opened #359 "NDK Support Version"
Is there any minimum ndk limitation on Yoga for java? Because I'm getting this error:
`java.lang.UnsatisfiedLinkError: dlopen failed: cannot locate symbol "_ZTISt16nested_exception" referenced by "/data/app/io.smartface.SmartfaceApp-1/lib/arm/liblib_fb_fbjni.so"...`

[2017-01-27 19:37] dshahidehpour commented on #260
Added 7df6037

[2017-01-27 19:37] #260 closed

[2017-01-27 19:38] d16r opened #361 "Carthage Support"
YogaKit needs Carthage Support. There was some discussion about it in #352

[2017-01-28 01:39] emilsjolander commented on #343
I've now published this https://www.npmjs.com/package/yoga-layout

[2017-01-28 01:39] #343 closed

[2017-01-28 01:54] #276 closed

[2017-01-30 07:18] AF-Kanishka opened #363 "YogaKit not getting recognised in xcode 8.2.1 in a framework project"
Hi,

I have copied all the resources and have added them as compile time dependency in the framework project build phase. But the compiler is not able to recognise yoga when I try view.yoga anywhere in the project.

I am able to navigate to the yoga class through "Jump to definition" though.

Please help me.

[2017-01-30 14:01] dshahidehpour commented on #363
Hi @AF-Kanishka, we are going to need way more information.

- Did you add YogaKit via Cocoapods?
- Is your code on a branch somewhere that we could clone it and repro?

[2017-01-30 15:53] dshahidehpour commented on #363
Please reopen with the issue template filled-out!

[2017-01-30 15:53] #363 closed

[2017-01-30 15:55] maxweber commented on #358
Build instructions would be great. I like to use yoga inside a JVM project, therefore a yoga jar inside the central Maven repo would be awesome. But I'm not sure if the JVM is supported or only Android?

I did the following to receive some jars:

`buck targets` revealed the available build targets

There I found `//java:java` and run:

`buck build //java:java`

In the buck-out folder in the root d

[2017-01-30 17:10] emilsjolander commented on #333
@rmarinho what is needed for this? We have recently deployed Yoga to both npm and cocoapods, would love to also add it to NuGet.

[2017-01-30 18:15] guidomb commented on #361
What is the best way to move this forward? In #352 you mentioned that you guys needed to modify the Xcode project file and Info.plist related with facebook.

[2017-01-30 18:19] rmarinho commented on #333
@emilsjolander sorry i m being busy with other subject and didn't got back to Yoga last week.

Well , i think the idea is one would need to build the solution on a windows machine with visual studio, publish the artifacts of that build, then build the xamarin iOS and android solutions on a mac, then pack the artifacts of windows, iOS and android in 1 nuget.

So basically everything is in place (wi

[2017-01-30 18:30] emilsjolander commented on #333
Ok sounds good. Not sure we want to do this on CI although i'm open to discuss that. We do manual pushes for the other package managers. Doing it all in CI could be nice though.

[2017-01-30 20:13] birfincankafein commented on #358
Java is okay for me. Im developing Android application with yoga and  I will try to automate my build process for updates. I want to build Yoga, YogaCore and Lib_FB_Yoga for android but everytime it fails. I tried with Buck command and it says there is no flavor like this, however on previous issues related with Android build they all said run this buck command.

[2017-01-30 20:30] dshahidehpour commented on #361
@guidomb I would go ahead and put up a new pull request. I will work in parallel to unblock the diff.

[2017-01-31 07:26] AF-Kanishka commented on #363
Hi @dshahidehpour ,

I didn't add yoga via cocoapods as I was told that it will increase the framework size. I just copied the files and added the headers in the build phase just like the Demo. Please suggest me a better way if you know any.

You can find the code in this repo https://github.com/AF-Kanishka/yoga-test. Unfortunately, it is not working in the project's view controller either.

[2017-01-31 07:29] AF-Kanishka commented on #363
I can't reopen the issue :/

[2017-01-31 11:17] AF-Kanishka opened #367 "YogaKit not getting recognised in xcode 8.2.1 in a framework project"
Hi,

I am creating a new issue as I don't have permission to reopen the issue which was closed by a mod.

# Issues and Steps to Reproduce

I have copied all the resources ( not using cocoapods) and have added them as compile time dependency in the framework project build phase just like the demo. But the compiler is not able to recognise yoga when I try view.yoga anywhere in the project.

I am abl

[2017-01-31 15:02] dshahidehpour commented on #367
Okay, so I cloned your project, there are a number of problems.

1. You need a Bridging Header since you are usinig swift, checkout `YogaKitSample-Bridging-Header.h` in the sample project. [this](https://developer.apple.com/library/content/documentation/Swift/Conceptual/BuildingCocoaApps/MixandMatch.html) should help.

2. You need to make sure you have all the proper files added to your **Build Ph

[2017-01-31 15:46] AF-Kanishka commented on #367
Ok. I am leaving work now. Will check it out as soon as I get home. Thanks.

[2017-02-01 07:14] AF-Kanishka commented on #367
Hi @dshahidehpour ,

So sorry for getting back late.

1. The code is compiling when I comment out the yoga part (self.view.yoga) in both the view controllers. Can you please check again?

2. I tried adding the bridging header. The issue still persists.

3. I have pushed the code with bridging header to the repo. Please tell me if I am missing something.

Thanks

[2017-02-01 12:57] dshahidehpour commented on #367
@AF-Kanishka Can you update your project with your latest attempt at fixing it?

[2017-02-01 17:14] AF-Kanishka commented on #367
@dshahidehpour I have updated it. The changes includes
1. Added the bridging header
2. Commented out the yoga code in view controller which was causing the compilation error. So, it should build fine now.

I couldn't try anything else as I have hit a road block. I know I am missing something, but don't know what it is.

[2017-02-02 03:58] musicode commented on #265
there are any android examples now?

and ios example is [YogaKitSample](https://github.com/facebook/yoga/tree/master/YogaKit/YogaKitSample)?

[2017-02-02 06:55] jconst opened #371 "Percent values not settable through YogaKit"
Hi! I looked through #258 and it looks like SetXPercent functions were added to the C API, and the iOS bindings were discussed but never implemented? Is anyone working on this right now? If not, I could take a stab and open a PR, but there are a lot of possible ways to write the API so I'd want to make sure I went down the right path. (Copy the C API exactly, create new properties, go for a breaki

[2017-02-02 12:26] birfincankafein opened #372 "YogaEdge.ALL causes YogaCore crash in Java"
# Report

I searched issues and this issue didn't reported before. This issue occurred in Java.

# Issues and Steps to Reproduce
***Replaces this with steps to repro your issue.***

# Expected Behavior
When I set border. padding or margin with YogaEdge.ALL, I want to get this value with YogaEdge.ALL. Even if I set any other YogaEdge like YogaEdge.BOTTOM and when I try to get YogaEdge.ALL it must r

[2017-02-02 12:54] emilsjolander commented on #372
This is being fixed. The commit should be landing today. Thanks for the report!

[2017-02-02 13:05] emilsjolander commented on #371
@dshahidehpour Have you thought about how we want to add this to the API?

[2017-02-02 15:00] dshahidehpour commented on #371
@emilsjolander I haven't, actually.

@jconst if you have the time, and you're interested, take a stab at it! I'd be happy to review. Shouldn't be too much plumbing.

[2017-02-03 01:20] dshahidehpour commented on #371
@hartbit Have any ideas about the API ideas for this?

I would down with going down the line of `view.yoga.widthPercentage = .4`,but I'm not sure what value should be returned when you access `view.yoga.width` after setting a percentage.

[2017-02-03 05:12] dhaligas opened #373 "Xamarin.Forms Layout"
I would like to see this implemented as a Xamarin.Forms layout.   Any plans to add this?

@rmarinho @splhack

[2017-02-03 05:44] birfincankafein opened #374 "Yoga breaks the Android TextView's TextAlignment"
# Report

- [x] I have searched [existing issues](https://github.com/facebook/yoga/issues) and this is not a duplicate. I know Yoga nor supporting Android fully but as a developer we should able to use Yoga in Android if we can use it for iOS.

# Issues and Steps to Reproduce
Create a node and set node's data with instance of TextView or some class extends TextView. Give height and width to yoga a

[2017-02-03 06:05] birfincankafein commented on #372
Thank you for fixing.

[2017-02-03 07:14] hartbit commented on #371
I've know for a while what I want for Swift:

[code]

For Objective-C, I think `view.yoga.widthPercentage = .4` is the way forward. And I think `view.yoga.width` after setting a percentage should return `YGUndefined`.

[2017-02-03 07:17] hartbit commented on #371
@jconst I don't mind writing the PR btw if you want :)

[2017-02-03 08:49] AF-Kanishka commented on #367
Hi @dshahidehpour ,

Did you get a chance to look at it?

[2017-02-03 10:46] emilsjolander commented on #371
@hartbit Could you explore using `YGValue` directly? This would make the getter return value more meaningful and reduce the number of properties needed. I like the syntactic sugar suggested for swift!

[2017-02-03 11:14] hartbit commented on #371
@emilsjolander Here are a few ideas off the top of my head, from most to least verbose & idiomatic:

[code]

Two points:

1. I'm not sure if the goal of reducing the number of properties is worth loosing the simplicity of `view.yoga.width = 10`.
2. I've always felt weird using the terminology `pixel` instead of `point` in a world where different platforms are moving rapidly away from pixel measure

[2017-02-03 11:20] emilsjolander commented on #371
Regarding pixel vs point. I'm fine with changing the `YGUnit` name to be point instead of pixel. That should be a separate PR though.

I agree that loosing `view.yoga.width = 10` would be sad. However if it was as easy as `view.yoga.width = pt(10)` then maybe that's ok. I agree that `view.yoga.width = YGValueMake(10, YGUnitPoint)` or `view.yoga.width = YGPointMake(10)` would be more idiomatic thou

[2017-02-03 11:40] rmarinho commented on #373
I m looking at it.. no luck yet still working on getting CI and Nugets out for OSX and Windows

[2017-02-03 12:26] hartbit commented on #371
Will submit a PR with this change first of all then. This evening probably (GMT+1).

Now that I think more about it, I don't like `YGPointMake(10)` and `YGPercentMake(40)`. It seems as if you're "making" a point/pixel, which you're not, you're creating a value with those units. That means this is what we're left with:

[code]

Yeah, I agree, it has to be a `YGValue` property. By the way, here's ho

[2017-02-03 12:29] emilsjolander commented on #371
/drool

That swift code looks amazing

[2017-02-03 14:47] dshahidehpour commented on #371
+1 on the swift code, great idea @hartbit!

Yeah, I think this is the right move for YogaKit.

So did we ever come to conclusion about the getter values? `.width` will now return a `YGValue`? I don't really see this being a big deal. I don't think I've used a getter a single time since I've started converting views, and it looks like we have a great solution for Setters.

@hartbit What do you thin

[2017-02-03 14:47] dshahidehpour commented on #367
Sorry @AF-Kanishka I've been tied-up. I can take one more look at this today.

[2017-02-03 15:13] dshahidehpour commented on #367
Okay, I've taken a look at this, turns out you can't add Bridging Headers to Frameworks. So, if you are building a Swift framework, you are out of luck (sorry!)

Here's the error message:

![](http://i.imgur.com/tjHkzgw.png)

More follow-up about it [here](http://stackoverflow.com/questions/24875745/xcode-6-beta-4-using-bridging-headers-with-framework-targets-is-unsupported).

[2017-02-03 15:13] #367 closed

[2017-02-03 16:56] dhaligas commented on #373
@rmarinho could this be a fast layout option?

[2017-02-03 19:48] hartbit commented on #371
Yeah, sounds good to me.

I think that's a good compromise. I'll go forward with that. Anyway, who uses Objective-C nowadays (joking :p)

[2017-02-03 19:50] hartbit commented on #371
I posted the PR that renames `YGUnitPixel` to `YGUnitPoint`: #375. Once it's merged I'll get the PR up for percent support.

[2017-02-06 17:39] #241 closed

[2017-02-07 15:28] dshahidehpour opened #378 "YogaKit doesn't remember the origin of the root view."
# Report

When you apply layout to a root view of layout with an origin that is not `CGPointZero`, in some scenarios it seems that this would be the incorrect behavior.

- [x] I have searched [existing issues](https://github.com/facebook/yoga/issues) and this is not a duplicate

# Issues and Steps to Reproduce
1. Clone or download [this](https://github.com/dshahidehpour/yoga/tree/space_repro)
2. G

[2017-02-07 15:29] dshahidehpour commented on #378
cc @hartbit Have you run into this? I'm trying to decide if there is a better way to fix this, other than requiring users to manually set the inset on a yoga view.

[2017-02-07 18:15] woehrl01 commented on #378
does this problem persist if you use some thing different than```space-around``` on the root node? My theorie is that on the second click the root height is diffierent/bigger. And so you position the blue square at a lower position/centered.

[2017-02-07 18:36] dshahidehpour commented on #378
@woehrl01 let me spit out some debug info for you.

Here's the output when the screen loads (before I hit the button):
[code]

Here's the output when I tap the button (and the root view shifts):
[code]

So yeah it looks like the computed height is changing from 736 to 672.

[2017-02-07 18:37] dshahidehpour commented on #378
I guess I'm surprised that simply recalculating the layout of the root view without making any changes to the `YGNodeRef` causes the view to change it's height.

[2017-02-07 19:22] woehrl01 commented on #378
@dshahidehpour not sure, as I'm not that familiar with YogaKit, but as the difference is 64, this looks to me like the height of the button which isn't explicitly set. I experienced on other ui frameworks, that the height is sometimes only predictable after the ui has been visible the first time. Do you have the same problem if you set the buttons height to a fixed value?

[2017-02-07 21:43] hartbit commented on #378
@dshahidehpour Sounds weird to me. I don't have time to check it out this evening, I want to get the percentage value PR posted, but have you tried nailing down the problem to of the button's `sizeThatFits` returning different values?

[2017-02-08 05:33] jackyblf opened #381 "how to make the yoga behavior like Html flexbox？"
# Report

- [ ] I have searched [existing issues](https://github.com/facebook/yoga/issues) and this is not a duplicate

# Issues and Steps to Reproduce
![layoutparams](https://cloud.githubusercontent.com/assets/16698988/22724584/1f9afa68-ee02-11e6-8b96-e6136eb9c7e9.jpg)

# Expected Behavior              /  Actual Behavior
![html-yoga-layout-compare](https://cloud.githubusercontent.com/assets/16698

[2017-02-08 07:22] woehrl01 commented on #381
I am currently working on a pr #368 which tackels most of the justify-content problems. If you could make me a html layout of your design like described on the Readme of this project. I'll have a look.

[2017-02-08 08:21] jackyblf commented on #381
@woehrl01

here is my html file with css：

[fblayouttest.txt](https://github.com/facebook/yoga/files/760035/fblayouttest.txt)

you can download it and change .txt with .html.

[2017-02-08 11:02] LeoSchleicher opened #382 "YogaKit: force recalculate layout on same UIView?"
This is absolutely required when I have i.e. multiline UILabel and want to change its text dynamically. For example, custom UITableViewCell taken from reusable cells pool with flexible height dependent on text.

Now it looks like yoga layout holds previous state and by calling "applyLayout" it uses previously made calculations.

Is it possible to discard these calculations and recalculate all from

[2017-02-08 12:13] woehrl01 commented on #382
@LeoSchleicher It only uses the previous values if the nodes aren't marked as dirty. So you need to set the specific elements as dirty and the layout is recalculated. There is still a problem with auto dirtying of nodes, see #350 for reference.

[2017-02-08 12:14] LeoSchleicher commented on #382
As fast workaround I found that setting node dirty (on UILabel) after text change helps here. But this method is disabled in code, as usually it cheks if node has custom measure function.

[2017-02-08 12:14] woehrl01 commented on #381
@jackyblf thanks, I'll have a look.

[2017-02-08 12:22] LeoSchleicher commented on #382
@woehrl01 You're right. But there must be a way to manually mark node dirty.

[2017-02-08 12:37] woehrl01 commented on #382
@LeoSchleicher according to the code, it asserts that the node **has** a measure function, so it should work for you. Nodes without a measure function do not need manual dirty flagging.

[2017-02-08 12:58] LeoSchleicher commented on #382
@woehrl01 Actually there is no code in YogaKit that sets this measure function. Thus, all nodes are disabled to mark them dirty. I've got this working removing the assertion. It makes node dirty and uses default iOS size calcuation.

For now there is a problem:
1. there is no way to define custom node measure function as YogaKit does not allow it and always uses default iOS size measurement
2. mar

[2017-02-08 13:04] woehrl01 commented on #382
@LeoSchleicher Not sure which version of YogaKit you use, but in the current impelementation the custom [measure function is used](https://github.com/facebook/yoga/blob/master/YogaKit/Source/YGLayout.m#L321) to get the size of the iOS controls, this happens automatically for any leaf node the first time you call ```applyLayout```.

[2017-02-08 13:59] LeoSchleicher commented on #382
@woehrl01 Hm. Thank you.

I've just made test project https://github.com/LeoSchleicher/yoga/commit/ad56c23cecfad3a995747ca160d12bc70a42870b slightly modifying YogaKitSample project. It works properly.

But my another project always stuck with that assertion. I must find what was wrong there.

[2017-02-08 15:20] dshahidehpour commented on #382
@LeoSchleicher there is a way to [mark views as dirty](https://github.com/facebook/yoga/blob/master/YogaKit/Source/YGLayout.h#L116). The only constraint is that you can only mark children nodes (UILabel) as dirty.

[2017-02-08 15:24] LeoSchleicher commented on #382
@dshahidehpour Many Thanks, but please read above. I stuck with rare problem - I cannot mark view dirty before calling applyLayout() on its hierarchy

[2017-02-08 15:28] woehrl01 commented on #382
@LeoSchleicher there is no need to mark views dirty before you call ```applyLayout()```.

[2017-02-08 15:36] LeoSchleicher commented on #382
Yes, this was an error in my code, but costs me a pair hours :-)

[2017-02-08 18:21] woehrl01 commented on #381
@jackyblf @emilsjolander I extracted the following test case:

[code]

in my current PR #368 this is green. ✔️ (if rounding enabled)

[2017-02-09 14:46] dshahidehpour commented on #382
Is there anything left to discuss here? @LeoSchleicher it's an interesting idea to provide a custom measure function to leaf nodes, might be worth adding that functionality if you think it would be helpful!

[2017-02-09 14:51] LeoSchleicher commented on #382
@dshahidehpour No, I think my question is already answered. It may be helpful to someone if we add "... or layout was not applied" to assertion message.

[2017-02-09 14:53] dshahidehpour commented on #382
@LeoSchleicher sounds good! I'll try and add that info today

[2017-02-09 14:53] #382 closed

[2017-02-09 14:59] dshahidehpour commented on #378
@woehrl01, @hartbit  It's not the button, I think this is a core yoga lib bug. When I hit the "reapply layout" button, it's not trying to remeasure the button.

Here's my debug:
[code]

Notice that when I tap the button, it's not remeasuring that node.

[2017-02-09 15:33] dshahidehpour commented on #378
So here's the problem:

The frame of the my rootView is `{.origin = {0, 64}, .size = {414, 672}}`. When I reapply the layout, we only pass in the size `{414, 672}`. As a result, when it computes the layout, it had no idea that the rootView's origin was set outside of YogaKit, so it sets the new frame to `{0, 0, 414, 672}`.

I'm thinking that we should add some functionality so that we can choose t

[2017-02-09 15:37] woehrl01 commented on #378
@dshahidehpour Oh, I see! It overrides the predefined position. Couldn't this be solved by setting the root view with ```top: 64``` ?

[2017-02-09 15:47] dshahidehpour commented on #378
@woehrl01 Yeahp, that would solve it. Another way is to create a "wrapper" view that goes inside the root view. Then suddenly the coordinate frame of the wrapper view has no idea the rootView has a predefined offset.

I'm also thinking about updating the `applyLayout()` function so that it takes a parameter that allows you apply the predefined origin to the root. What do you think about @hartbit?

[2017-02-09 16:10] hartbit commented on #378
Is there a case where we do NOT want it to preserve the root view's origin? It might be better to fix it by always preserving the origin.

[2017-02-09 16:13] dshahidehpour commented on #378
I can't think of a use-case at the moment. I'll put up a PR, and we can see what happens.

[2017-02-09 17:44] dshahidehpour commented on #378
Diff coming, I'm going to close this.

[2017-02-09 17:44] #378 closed

[2017-02-09 20:12] dshahidehpour opened #384 "YogaKit tests are failing after unrelated diff."
We have some failing tests in YogaKit. According to Travis, they were passing in [1081](https://travis-ci.org/facebook/yoga/builds/198102649), but started failing in [1082](https://travis-ci.org/facebook/yoga/builds/198121073), which pertains to 56d06e27.

In that commit, the Yoga library was not touched, and neither was YogaKit.

[code]

@hartbit  Would you mind taking a look at this?

[2017-02-09 20:14] dshahidehpour commented on #384
Seems to only fail if you set the All, Horizontal, or Vertical properties.

[2017-02-10 06:35] woehrl01 commented on #378
@dshahidehpour I looked at your diff and it seems like if you now set top via yoga, you will move it down every time you call applyLayout. As we add the position to the previous position.

[2017-02-10 09:56] lewispeel opened #385 "JavaScript: setDisplay is not a function"
Using setDisplay causes a TypeError.

[code]

Produces this error;

[code]

[2017-02-10 14:53] LeoSchleicher commented on #265
@musicode I've made one - just for fun, but it's works. Without any XML Layout. Pure Yoga.
https://github.com/LeoSchleicher/FBYogaGroovyAndroidTestApp

[2017-02-10 16:15] dshahidehpour commented on #384
I'm fixing this internally, closing.

[2017-02-10 16:15] #384 closed

[2017-02-10 16:16] dshahidehpour commented on #378
@woehrl01 That's totally true. That being said there are ways around fixing that (just like there were for the original problem). Overall, I felt like this behavior will solve the most amount of bugs on iOS pertaining to root views on iOS. But if seems to persist as a problem, I'll definitely revisit it.

[2017-02-10 16:31] woehrl01 commented on #378
@dshahidehpour maybe we should add a comment to ```applyLayout``` which documents this?

[2017-02-10 16:49] dshahidehpour commented on #378
I was also thinking of making the preservation optional

[code]

OR

[code]

Swift could be `view.yoga.applyLayout(preverseOrigin: true)`;

[2017-02-10 17:06] woehrl01 commented on #378
I'd prefer the first, it's the most descriptive one and not shorter than the swift version, but also applies to obj-c.

[2017-02-10 18:48] hartbit commented on #378
[view.yoga applyLayoutPreservingOrigin:YES];
view.yoga.applyLayout(preservingOrigin: true)

If you want to follow Swift naming conventions by making it more grammatically correct.

[2017-02-11 16:41] #229 closed

[2017-02-11 21:58] rmarinho commented on #373
That was a easy one to see :)

https://forums.xamarin.com/discussion/88452/css-styling-and-flexbox

[2017-02-11 22:01] rmarinho commented on #333
@splhack we are missing build of i386 for iOS and Mac .. can you update buck and the fat library to support it?

[2017-02-11 22:55] #373 closed

[2017-02-12 01:59] splhack commented on #333
sure. #391

[2017-02-12 03:54] jackyblf commented on #381
![qq 20170212112814](https://cloud.githubusercontent.com/assets/16698988/22859491/426b85a8-f118-11e6-81d9-e29c3311ca74.gif)

the css flexbox  code above :  fblayouttest.txt
the css version is ok.

but：

![qq 20170212112807](https://cloud.githubusercontent.com/assets/16698988/22859501/a52ea38c-f118-11e6-8b05-a5699e875d66.gif)

the yoga code as follow:
[code]

how to make the yoga behavior like Html

[2017-02-13 10:58] emilsjolander opened #394 "Support for flex-wrap: wrap-reverse"
https://developer.mozilla.org/en/docs/Web/CSS/flex-wrap

[2017-02-13 11:08] woehrl01 opened #395 "Simplify/Dedup STEP 5 Line 2271 - 2367"
The code [here](https://github.com/facebook/yoga/blob/master/yoga/Yoga.c#L2271-2367) contains lots of dublicate code, which could be greatly reduced. It switches only if its row or column. The code would be much more readable/maintainable if we calculate all of this named with cross/main-axis and only switch at the end to set either ```childWidth``` or ```childHeight```.

If you agree, I'd put up

[2017-02-14 10:00] rspencer01 commented on #265
There is now an example Android app in `android/sample`

[2017-02-14 23:23] woehrl01 commented on #395
create PR

[2017-02-14 23:23] #395 closed

[2017-02-15 22:33] rmarinho opened #404 "Buck build broken for c#"
# Report

- [x] I have searched [existing issues](https://github.com/facebook/yoga/issues) and this is not a duplicate

# Issues and Steps to Reproduce
Clone repo and run buck build of csharp targets or build-native.sh

# Expected Behavior
Should run fine

# Actual Behavior
Fails

# Link to Code
***If you have some code that maintainers can clone/test for themselves, bugs can be resolved much fast

[2017-02-15 23:54] splhack commented on #404
I'm working on it.

[2017-02-16 00:39] rmarinho commented on #404
I had to revert 3 commits that touched .buckconfig and buck file .

[2017-02-16 00:58] #404 closed

[2017-02-16 01:15] rmarinho commented on #404
I think is still failing for Android? you need to check the changes of a580712b2f6833070ed4323b54a26805332eb43d

[2017-02-16 01:27] splhack commented on #404
which target? `buck build //csharp:yoganet#android-armv7,shared` is fine for me.

[2017-02-16 01:34] rmarinho commented on #404
[code]

[2017-02-16 01:34] rmarinho commented on #404
if i revert that commit it works.

[2017-02-16 01:41] splhack commented on #404
hmm, I can't repro that. Do you have `.buckconfig.local`?

    $ git rev-parse HEAD
    2199a7908d49f4e1e81c32acf4407bbf9e4952ad
    $ git status
    On branch master
    Your branch is up-to-date with 'origin/master'.
    nothing to commit, working directory clean

    $ rm -rf buck-out
    $ buck build //csharp:yoganet#android-x86,shared
    [-] PROCESSING BUCK FILES...FINISHED 0.1s [100%]
    [

[2017-02-16 10:30] #372 closed

[2017-02-16 19:09] mafemergency commented on #281
This issue is closed, but was there a fix? I'm currently bumping into this
problem. Using VS2017 RC cl.exe version 19.10.24911

Building yoga as a shared library works as expected and exports all symbols I've
tried using, but building as a static library causes problems. Without link time
optimizations, `YGNodeGetChildCount` and `YGNodeStyleGetFlexBasis` can not be
used outside of `Yoga.c`. With l

[2017-02-17 16:04] arcanis commented on #385
The (experimental) precompiled javascript bundle is currently out-of-date, and does not yet supports the `display` style and a few other features (note that they *are* supported in the Javascript version, but only if you build it yourself). We're in the process of streamlining the build workflow so that everything ends up being automated, but it will take some time.

[2017-02-17 17:21] lewispeel commented on #385
I see. Thanks for clearing that up!

[2017-02-17 17:21] #385 closed

[2017-02-17 18:08] #394 closed

[2017-02-17 21:31] feichngr opened #410 ""flex: 1" child larger than remaining width in current "flexWrap: wrap" row fails tests"
# Report
While fiddling to get some layout to work I build a test fixture with a fixed size `row` direction `wrap`ing container that contains one child that is fixed size and one that has `flex: 1` set and whose content is wider than the remaining width in the row.

# Expected Behavior
Not sure. It's not clear to me how the spec wants this case to be handled.

# Actual Behavior
The generated test

[2017-02-18 09:13] nwlieb opened #411 "NPM build fails on Windows"
When installing with yarn on Windows the following is produced:

[code]

Unfortunately bash is officially unsupported with npm on Windows, even when using cygwin or similar (see https://github.com/npm/npm/issues/9420). When trying to manually build the following is produced, meaning the native build is also broken:

[code]

Would building on Windows be possible in the future, or having a precompil

[2017-02-19 00:26] arcanis commented on #411
The js build is still a bit experimental, there's a few things that will have to be fixed in later iterations.

Can you try to manually edit the package.json to replace:

[code]

by

[code]

? I *think* it should fix the issue.

[2017-02-20 10:40] emilsjolander commented on #381
We are always working on improving the compatibility between yoga's and the various browsers flexbox implementation. I am going to submit individual issues for the currently known problems later this week. Thanks for the report!

[2017-02-20 10:40] #381 closed

[2017-02-20 10:41] emilsjolander commented on #374
Can you post a code sample? Also we are working on android bindings for yoga which will hopefully solve some of these issues https://github.com/facebook/yoga/tree/master/android

[2017-02-20 10:43] emilsjolander commented on #358
We are working on getting yoga available via gradle which should improve your situation. https://github.com/facebook/yoga/tree/master/android is where we are working on our android support.

[2017-02-20 10:43] emilsjolander commented on #359
Not sure. What version are you using?

[2017-02-20 10:45] emilsjolander commented on #354
Good find!

[2017-02-20 10:47] emilsjolander commented on #355
Closing this as it is well documented on https://facebook.github.io/yoga/docs/learn-more/. Later this week i'll publish a list of issues which will include incompatibilities with the spec.